<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` ì„ ì´ìš©í•˜ì—¬ ë‹¤ìŒ í¬íŠ¸í´ë¦¬ì˜¤ì˜ ì‚¬ëŒë³„ ì´í•©ì„ ê³„ì‚°í•˜ì„¸ìš”.
- ê²°ê³¼ëŠ” `res`ì— listí˜•íƒœë¡œ ì €ì¥í•©ë‹ˆë‹¤.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [2]:
# ì´ê³³ì— ë‹µì•ˆì„ ì‘ì„±í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤
# ë°ì´í„° í”„ë ˆì„ ìƒì„±
import pandas as pd

df = pd.DataFrame([['X','A',100,35],
['X','B',500,10],
['X','C',250,25],
['X','D',50,40],
['Y','A',100,0],
['Y','B',500,50],
['Y','C',250,50],
['Y','D',50,0],
['Z','A',100,0],
['Z','B',500,0],
['Z','C',250,100],
['Z','D',50,0]], columns = ['People', 'Name', 'Price', 'Amount'])
df

   People Name  Price  Amount
0       X    A    100      35
1       X    B    500      10
2       X    C    250      25
3       X    D     50      40
4       Y    A    100       0
5       Y    B    500      50
6       Y    C    250      50
7       Y    D     50       0
8       Z    A    100       0
9       Z    B    500       0
10      Z    C    250     100
11      Z    D     50       0

In [3]:
# ê°€ê²©ê³¼ ì‚¬ëŒë³„ ì£¼ì‹ ìˆ˜ ë¶„ë¦¬
Price = [100, 500, 250, 50]
X = df[df['People'] == 'X']['Amount'].tolist()
Y = df[df['People'] == 'Y']['Amount'].tolist()
Z = df[df['People'] == 'Z']['Amount'].tolist()
print('{} = X,\n\n{} = Y,\n\n{} = Z'.format(X, Y, Z))

[35, 10, 25, 40] = X,

[0, 50, 50, 0] = Y,

[0, 0, 100, 0] = Z

In [4]:
# Dot product (ë‚´ì  ê³±) ë¥¼ ì‚¬ìš©í•˜ì—¬ resì— ì €ì¥
import numpy as np

res = [np.dot(X, Price), np.dot(Y, Price), np.dot(Z, Price)]
print('np.dot(A,B) = [X, Y, Z] =', res)

np.dot(A,B) = [X, Y, Z] = [16750, 37500, 25000]

In [40]:
# Matrix Multiplication (í–‰ë ¬ ê³±) ë¡œ ê³„ì‚° í•˜ëŠ” ë²•
import numpy as np

print('np.matmul(A,B) =', [np.matmul(X, Price), np.matmul(Y, Price), np.matmul(Z, Price)])

# @ ë¡œë„ í–‰ë ¬ ê³±ì´ ê°€ëŠ¥ í•˜ì§€ë§Œ array í˜•íƒœë¡œ ìˆì–´ì•¼ í•œë‹¤. list ì¼ ê²½ìš° error ìƒê¹€.
print('A @ B =', [np.array(X) @ np.array(Price), np.array(Y) @ np.array(Price), np.array(Z) @ np.array(Price)])

np.matmul(A,B) = [16750, 37500, 25000]
A @ B = [16750, 37500, 25000]

In [15]:
# np ê³±, í•©ìœ¼ë¡œ í‘¸ëŠ” ë°©ë²•
print('sum(np.array(A)*np.array(B)) =',[sum(np.array(X) * np.array(Price)), sum(np.array(Y) * np.array(Price)), sum(np.array(Z) * np.array(Price))])

sum(np.array(A)*np.array(B)) = [16750, 37500, 25000]

In [37]:
# ë°ì´í„° í”„ë ˆì„ì„ ë³€í˜•í•´ì„œ ê³„ì‚°.
# Moneyë¼ëŠ” ì—´ í•˜ë‚˜ ì¶”ê°€
df['Money'] = df.Price * df.Amount
df

   People Name  Price  Amount  Money
0       X    A    100      35   3500
1       X    B    500      10   5000
2       X    C    250      25   6250
3       X    D     50      40   2000
4       Y    A    100       0      0
5       Y    B    500      50  25000
6       Y    C    250      50  12500
7       Y    D     50       0      0
8       Z    A    100       0      0
9       Z    B    500       0      0
10      Z    C    250     100  25000
11      Z    D     50       0      0

In [38]:
# Peopleë¡œ ê·¸ë£¹ í•œë’¤, Money ì—´ì˜ ì´í•©ì„ ê³„ì‚°
df.groupby('People').agg({'Money':['sum']})

        Money
          sum
People
X       16750
Y       37500
Z       25000

## 2. Norms

ì£¼ì–´ì§„ ê°’ $x_0, x_1, ... x_n$ ë¥¼ elementë¡œ ê°–ëŠ” ë²¡í„° $v$ì— ëŒ€í•˜ì—¬ 

$L_1$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm ì˜ ì •ì˜ëŠ” ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

ì´ë¥¼ ì°¸ì¡°í•˜ì—¬ ì£¼ì–´ì§„ ë²¡í„°ì— ëŒ€í•´ì„œ $L_2$ Norm ì˜ ê°’ê³¼ $L_1$ Norm ì˜ ê°’ì˜ ì°¨ì´(**ì ˆëŒ€ê°’**)ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ë§Œë“œì„¸ìš”.

In [42]:
v = np.array([1, 2, 3, 4])
# |L2 Norm - L1 Norm| ê³„ì‚° í•¨ìˆ˜
def NormDif(v): # v = np.array()
  L1_norm = np.linalg.norm(v, axis=0, ord=1)
  L2_norm = np.linalg.norm(v, axis=0, ord=2)
  return abs(L2_norm - L1_norm)
NormDif(v)

4.522774424948339

In [43]:
# np.linalg.norm ì•ˆì“°ê³ 
def NormDif_ori(v):
  L1_norm_ori = sum(abs(v))
  L2_norm_ori = sum(abs(v)**2)**0.5
  return abs(L2_norm_ori - L1_norm_ori)
NormDif_ori(v)

4.522774424948339

## 3. Errors



- 2ê°œì˜ ë²¡í„°ì™€, errorì˜ íƒ€ì…ì„ ì…ë ¥ë°›ì•„ ê·¸ ê²°ê³¼ê°’ì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”.

- ì—¬ê¸°ì„œ errorì˜ íƒ€ì…ì€ `MSE`, `MAE` 2ê°€ì§€ ì…ë‹ˆë‹¤.

In [62]:
# MSE, MAE error íƒ€ì…ë³„ ê³„ì‚°
def error(x, y, type) :
  # MAE : (ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ ê°’ì˜ ì°¨ì´) errorë¥¼ ì ˆëŒ€ê°’ìœ¼ë¡œ ë³€í™˜í•´ í‰ê· í™”, ì´ìƒì¹˜ê°€ ë§ì„ ë•Œ, errorì— ë”°ë¥¸ ì†ì‹¤ì´ ì„ í˜•ì ìœ¼ë¡œ ì˜¬ë¼ ê°ˆ ë•Œ
  if type == 'MAE':
    from sklearn.metrics import mean_absolute_error
    return mean_absolute_error(x, y)
  # MSE : (ì‹¤ì œ ê°’ê³¼ ì˜ˆì¸¡ ê°’ì˜ ì°¨ì´) errorë¥¼ ì œê³±í•´ í‰ê· í™”, íŠ¹ì´ê°’ì´ ì¡´ì¬í•  ë•Œ ìˆ˜ì¹˜ê°€ ë§ì´ ì˜¬ë¼ê°.
  elif type == 'MSE':
    from sklearn.metrics import mean_squared_error 
    return mean_squared_error(x, y)

# 4. Inverse

- ì£¼ì–´ì§„ matrixì— ëŒ€í•´ì„œ inverse matrixë¥¼ ê³„ì‚°í•˜ì—¬ ë°˜í™˜í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì‘ì„±í•˜ì„¸ìš”. 
- ì´ ë•Œ inverse ê³„ì‚°ì´ ë¶ˆê°€ëŠ¥ í•œ ê²½ìš° `-1` ì„ ë°˜í™˜í•©ë‹ˆë‹¤.

In [70]:
# Inverse matrix ë°˜í™˜ í•¨ìˆ˜
def myInverse(m) : # m = np.array()
  # í–‰ë ¬ì‹ = determinant
  import numpy as np
  det = np.linalg.det(m)
  if det == 0:
    return -1
  else:
    return np.linalg.inv(m)

In [42]:
min(res)

16750

In [54]:
round(NormDif(np.array([1, 2, 3, 4])), 3)

4.523

In [64]:
round(error(np.array([5, 10, 30]), np.array([21, 2, 8]), 'MSE'), 3)

268.0

In [71]:
myInverse(np.array([[2,4],[4,8]]))

-1

# ğŸ”¥ ë„ì „ê³¼ì œ

ë‹¤ìŒ ë§í¬ì˜ ë‚´ìš©ì„ ì°¸ì¡°í•˜ì—¬ **Cramer's rule**ì„ ì‚¬ìš©í•´ $x_1$, $x_2$, $x_3$ì˜ ê°’ì„ êµ¬í•˜ì„¸ìš”.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [94]:
import numpy as np

A = np.array([[1,0,2],
              [-3,4,6],
              [-1,-2,3]])

B = np.array([6, 30, 8])

x = np.linalg.solve(A, B)
print('x1 = {}, x2 = {}, x3 = {}'.format(x[0],x[1],x[2]))

x1 = -0.9090909090909104, x2 = 1.636363636363636, x3 = 3.454545454545454

In [91]:
# Cramer's rule ì‚¬ìš©í•´ì„œ ì§ì ‘ í’€ì–´ë³´ê¸°
# x1, x2, x3 ë¥¼ êµ¬í•˜ê¸° ìœ„í•´ì„œëŠ” D, Dx1, Dx2, Dx3ë¥¼ êµ¬í•´ì•¼ í•œë‹¤.
# x1 = Dx1/D
# x2 = Dx2/D
# x3 = Dx3/D

In [92]:
# D(í–‰ë ¬ì‹) êµ¬í•˜ê¸°.
D = np.linalg.det(A)
D

44.000000000000014

In [111]:
# Dx1, Dx2, Dx3 êµ¬í•˜ë ¤ë©´ A í–‰ë ¬ì— B ê°’ì„ x1, x2, x3 ìœ„ì¹˜ì— ë„£ì–´ì„œ í–‰ë ¬ì‹ì„ êµ¬í•´ì•¼ í•œë‹¤.
# A í–‰ë ¬ì— x1, x2, x3 ë„£ê¸°
Ax1 = np.insert(np.delete(A, 0, axis = 1), 0, B, axis = 1)
Ax2 = np.insert(np.delete(A, 1, axis = 1), 1, B, axis = 1)
Ax3 = np.insert(np.delete(A, 2, axis = 1), 2, B, axis = 1)
print('{} = Ax1,\n\n{} = Ax2,\n\n{} = Ax3'.format(Ax1, Ax2, Ax3))

[[ 6  0  2]
 [30  4  6]
 [ 8 -2  3]] = Ax1,

[[ 1  6  2]
 [-3 30  6]
 [-1  8  3]] = Ax2,

[[ 1  0  6]
 [-3  4 30]
 [-1 -2  8]] = Ax3

In [108]:
# Dx1, Dx2, Dx3 êµ¬í•˜ê¸°
Dx1 = np.linalg.det(Ax1)
Dx2 = np.linalg.det(Ax2)
Dx3 = np.linalg.det(Ax3)
print('Dx1 = {}, Dx2 = {}, Dx3 = {}'.format(Dx1, Dx2, Dx3))

Dx1 = -40.0, Dx2 = 72.0, Dx3 = 152.0

In [110]:
# x1, x2, x3 êµ¬í•˜ê¸°
x1 = Dx1/D
x2 = Dx2/D
x3 = Dx3/D
print('x1 = {}, x2 = {}, x3 = {}'.format(x1, x2, x3))

x1 = -0.9090909090909088, x2 = 1.6363636363636358, x3 = 3.4545454545454533