<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# üìù Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` ÏùÑ Ïù¥Ïö©ÌïòÏó¨ Îã§Ïùå Ìè¨Ìä∏Ìè¥Î¶¨Ïò§Ïùò ÏÇ¨ÎûåÎ≥Ñ Ï¥ùÌï©ÏùÑ Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.
- Í≤∞Í≥ºÎäî `res`Ïóê listÌòïÌÉúÎ°ú Ï†ÄÏû•Ìï©ÎãàÎã§.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [2]:
# Ïù¥Í≥≥Ïóê ÎãµÏïàÏùÑ ÏûëÏÑ±ÌïòÏãúÍ∏∞ Î∞îÎûçÎãàÎã§
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏÉùÏÑ±
import pandas as pd

df = pd.DataFrame([['X','A',100,35],
['X','B',500,10],
['X','C',250,25],
['X','D',50,40],
['Y','A',100,0],
['Y','B',500,50],
['Y','C',250,50],
['Y','D',50,0],
['Z','A',100,0],
['Z','B',500,0],
['Z','C',250,100],
['Z','D',50,0]], columns = ['People', 'Name', 'Price', 'Amount'])
df

   People Name  Price  Amount
0       X    A    100      35
1       X    B    500      10
2       X    C    250      25
3       X    D     50      40
4       Y    A    100       0
5       Y    B    500      50
6       Y    C    250      50
7       Y    D     50       0
8       Z    A    100       0
9       Z    B    500       0
10      Z    C    250     100
11      Z    D     50       0

In [3]:
# Í∞ÄÍ≤©Í≥º ÏÇ¨ÎûåÎ≥Ñ Ï£ºÏãù Ïàò Î∂ÑÎ¶¨
Price = [100, 500, 250, 50]
X = df[df['People'] == 'X']['Amount'].tolist()
Y = df[df['People'] == 'Y']['Amount'].tolist()
Z = df[df['People'] == 'Z']['Amount'].tolist()
print('{} = X,\n\n{} = Y,\n\n{} = Z'.format(X, Y, Z))

[35, 10, 25, 40] = X,

[0, 50, 50, 0] = Y,

[0, 0, 100, 0] = Z

In [4]:
# Dot product (ÎÇ¥Ï†Å Í≥±) Î•º ÏÇ¨Ïö©ÌïòÏó¨ resÏóê Ï†ÄÏû•
import numpy as np

res = [np.dot(X, Price), np.dot(Y, Price), np.dot(Z, Price)]
print('np.dot(A,B) = [X, Y, Z] =', res)

np.dot(A,B) = [X, Y, Z] = [16750, 37500, 25000]

In [40]:
# Matrix Multiplication (ÌñâÎ†¨ Í≥±) Î°ú Í≥ÑÏÇ∞ ÌïòÎäî Î≤ï
import numpy as np

print('np.matmul(A,B) =', [np.matmul(X, Price), np.matmul(Y, Price), np.matmul(Z, Price)])

# @ Î°úÎèÑ ÌñâÎ†¨ Í≥±Ïù¥ Í∞ÄÎä• ÌïòÏßÄÎßå array ÌòïÌÉúÎ°ú ÏûàÏñ¥Ïïº ÌïúÎã§. list Ïùº Í≤ΩÏö∞ error ÏÉùÍπÄ.
print('A @ B =', [np.array(X) @ np.array(Price), np.array(Y) @ np.array(Price), np.array(Z) @ np.array(Price)])

np.matmul(A,B) = [16750, 37500, 25000]
A @ B = [16750, 37500, 25000]

In [15]:
# np Í≥±, Ìï©ÏúºÎ°ú Ìë∏Îäî Î∞©Î≤ï
print('sum(np.array(A)*np.array(B)) =',[sum(np.array(X) * np.array(Price)), sum(np.array(Y) * np.array(Price)), sum(np.array(Z) * np.array(Price))])

sum(np.array(A)*np.array(B)) = [16750, 37500, 25000]

In [37]:
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Î≥ÄÌòïÌï¥ÏÑú Í≥ÑÏÇ∞.
# MoneyÎùºÎäî Ïó¥ ÌïòÎÇò Ï∂îÍ∞Ä
df['Money'] = df.Price * df.Amount
df

   People Name  Price  Amount  Money
0       X    A    100      35   3500
1       X    B    500      10   5000
2       X    C    250      25   6250
3       X    D     50      40   2000
4       Y    A    100       0      0
5       Y    B    500      50  25000
6       Y    C    250      50  12500
7       Y    D     50       0      0
8       Z    A    100       0      0
9       Z    B    500       0      0
10      Z    C    250     100  25000
11      Z    D     50       0      0

In [38]:
# PeopleÎ°ú Í∑∏Î£π ÌïúÎí§, Money Ïó¥Ïùò Ï¥ùÌï©ÏùÑ Í≥ÑÏÇ∞
df.groupby('People').agg({'Money':['sum']})

        Money
          sum
People
X       16750
Y       37500
Z       25000

## 2. Norms

Ï£ºÏñ¥ÏßÑ Í∞í $x_0, x_1, ... x_n$ Î•º elementÎ°ú Í∞ñÎäî Î≤°ÌÑ∞ $v$Ïóê ÎåÄÌïòÏó¨ 

$L_1$ Norm Ïùò Ï†ïÏùòÎäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm Ïùò Ï†ïÏùòÎäî Îã§ÏùåÍ≥º Í∞ôÏäµÎãàÎã§.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

Ïù¥Î•º Ï∞∏Ï°∞ÌïòÏó¨ Ï£ºÏñ¥ÏßÑ Î≤°ÌÑ∞Ïóê ÎåÄÌï¥ÏÑú $L_2$ Norm Ïùò Í∞íÍ≥º $L_1$ Norm Ïùò Í∞íÏùò Ï∞®Ïù¥(**Ï†àÎåÄÍ∞í**)Î•º Í≥ÑÏÇ∞ÌïòÎäî Ìï®ÏàòÎ•º ÎßåÎìúÏÑ∏Ïöî.

In [42]:
v = np.array([1, 2, 3, 4])
# |L2 Norm - L1 Norm| Í≥ÑÏÇ∞ Ìï®Ïàò
def NormDif(v): # v = np.array()
  L1_norm = np.linalg.norm(v, axis=0, ord=1)
  L2_norm = np.linalg.norm(v, axis=0, ord=2)
  return abs(L2_norm - L1_norm)
NormDif(v)

4.522774424948339

In [43]:
# np.linalg.norm ÏïàÏì∞Í≥†
def NormDif_ori(v):
  L1_norm_ori = sum(abs(v))
  L2_norm_ori = sum(abs(v)**2)**0.5
  return abs(L2_norm_ori - L1_norm_ori)
NormDif_ori(v)

4.522774424948339

## 3. Errors



- 2Í∞úÏùò Î≤°ÌÑ∞ÏôÄ, errorÏùò ÌÉÄÏûÖÏùÑ ÏûÖÎ†•Î∞õÏïÑ Í∑∏ Í≤∞Í≥ºÍ∞íÏùÑ Í≥ÑÏÇ∞ÌïòÎäî Ìï®ÏàòÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî.

- Ïó¨Í∏∞ÏÑú errorÏùò ÌÉÄÏûÖÏùÄ `MSE`, `MAE` 2Í∞ÄÏßÄ ÏûÖÎãàÎã§.

In [62]:
# MSE, MAE error ÌÉÄÏûÖÎ≥Ñ Í≥ÑÏÇ∞
def error(x, y, type) :
  # MAE : (Ïã§Ï†ú Í∞íÍ≥º ÏòàÏ∏° Í∞íÏùò Ï∞®Ïù¥) errorÎ•º Ï†àÎåÄÍ∞íÏúºÎ°ú Î≥ÄÌôòÌï¥ ÌèâÍ∑†Ìôî, Ïù¥ÏÉÅÏπòÍ∞Ä ÎßéÏùÑ Îïå, errorÏóê Îî∞Î•∏ ÏÜêÏã§Ïù¥ ÏÑ†ÌòïÏ†ÅÏúºÎ°ú Ïò¨Îùº Í∞à Îïå
  if type == 'MAE':
    from sklearn.metrics import mean_absolute_error
    return mean_absolute_error(x, y)
  # MSE : (Ïã§Ï†ú Í∞íÍ≥º ÏòàÏ∏° Í∞íÏùò Ï∞®Ïù¥) errorÎ•º Ï†úÍ≥±Ìï¥ ÌèâÍ∑†Ìôî, ÌäπÏù¥Í∞íÏù¥ Ï°¥Ïû¨Ìï† Îïå ÏàòÏπòÍ∞Ä ÎßéÏù¥ Ïò¨ÎùºÍ∞ê.
  elif type == 'MSE':
    from sklearn.metrics import mean_squared_error 
    return mean_squared_error(x, y)

# 4. Inverse

- Ï£ºÏñ¥ÏßÑ matrixÏóê ÎåÄÌï¥ÏÑú inverse matrixÎ•º Í≥ÑÏÇ∞ÌïòÏó¨ Î∞òÌôòÌïòÎäî Ìï®ÏàòÎ•º ÏûëÏÑ±ÌïòÏÑ∏Ïöî. 
- Ïù¥ Îïå inverse Í≥ÑÏÇ∞Ïù¥ Î∂àÍ∞ÄÎä• Ìïú Í≤ΩÏö∞ `-1` ÏùÑ Î∞òÌôòÌï©ÎãàÎã§.

In [70]:
# Inverse matrix Î∞òÌôò Ìï®Ïàò
def myInverse(m) : # m = np.array()
  # ÌñâÎ†¨Ïãù = determinant
  import numpy as np
  det = np.linalg.det(m)
  if det == 0:
    return -1
  else:
    return np.linalg.inv(m)

In [42]:
min(res)

16750

In [54]:
round(NormDif(np.array([1, 2, 3, 4])), 3)

4.523

In [64]:
round(error(np.array([5, 10, 30]), np.array([21, 2, 8]), 'MSE'), 3)

268.0

In [71]:
myInverse(np.array([[2,4],[4,8]]))

-1

# üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

Îã§Ïùå ÎßÅÌÅ¨Ïùò ÎÇ¥Ïö©ÏùÑ Ï∞∏Ï°∞ÌïòÏó¨ **Cramer's rule**ÏùÑ ÏÇ¨Ïö©Ìï¥ $x_1$, $x_2$, $x_3$Ïùò Í∞íÏùÑ Íµ¨ÌïòÏÑ∏Ïöî.

<https://youtu.be/6StS7VjtuGI>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [94]:
import numpy as np

A = np.array([[1,0,2],
              [-3,4,6],
              [-1,-2,3]])

B = np.array([6, 30, 8])

x = np.linalg.solve(A, B)
print('x1 = {}, x2 = {}, x3 = {}'.format(x[0],x[1],x[2]))

x1 = -0.9090909090909104, x2 = 1.636363636363636, x3 = 3.454545454545454

In [91]:
# Cramer's rule ÏÇ¨Ïö©Ìï¥ÏÑú ÏßÅÏ†ë ÌíÄÏñ¥Î≥¥Í∏∞
# x1, x2, x3 Î•º Íµ¨ÌïòÍ∏∞ ÏúÑÌï¥ÏÑúÎäî D, Dx1, Dx2, Dx3Î•º Íµ¨Ìï¥Ïïº ÌïúÎã§.
# x1 = Dx1/D
# x2 = Dx2/D
# x3 = Dx3/D

In [92]:
# D(ÌñâÎ†¨Ïãù) Íµ¨ÌïòÍ∏∞.
D = np.linalg.det(A)
D

44.000000000000014

In [111]:
# Dx1, Dx2, Dx3 Íµ¨ÌïòÎ†§Î©¥ A ÌñâÎ†¨Ïóê B Í∞íÏùÑ x1, x2, x3 ÏúÑÏπòÏóê ÎÑ£Ïñ¥ÏÑú ÌñâÎ†¨ÏãùÏùÑ Íµ¨Ìï¥Ïïº ÌïúÎã§.
# A ÌñâÎ†¨Ïóê x1, x2, x3 ÎÑ£Í∏∞
Ax1 = np.insert(np.delete(A, 0, axis = 1), 0, B, axis = 1)
Ax2 = np.insert(np.delete(A, 1, axis = 1), 1, B, axis = 1)
Ax3 = np.insert(np.delete(A, 2, axis = 1), 2, B, axis = 1)
print('{} = Ax1,\n\n{} = Ax2,\n\n{} = Ax3'.format(Ax1, Ax2, Ax3))

[[ 6  0  2]
 [30  4  6]
 [ 8 -2  3]] = Ax1,

[[ 1  6  2]
 [-3 30  6]
 [-1  8  3]] = Ax2,

[[ 1  0  6]
 [-3  4 30]
 [-1 -2  8]] = Ax3

In [108]:
# Dx1, Dx2, Dx3 Íµ¨ÌïòÍ∏∞
Dx1 = np.linalg.det(Ax1)
Dx2 = np.linalg.det(Ax2)
Dx3 = np.linalg.det(Ax3)
print('Dx1 = {}, Dx2 = {}, Dx3 = {}'.format(Dx1, Dx2, Dx3))

Dx1 = -40.0, Dx2 = 72.0, Dx3 = 152.0

In [110]:
# x1, x2, x3 Íµ¨ÌïòÍ∏∞
x1 = Dx1/D
x2 = Dx2/D
x3 = Dx3/D
print('x1 = {}, x2 = {}, x3 = {}'.format(x1, x2, x3))

x1 = -0.9090909090909088, x2 = 1.6363636363636358, x3 = 3.4545454545454533