<a href="https://colab.research.google.com/github/KyungRyeolBaek/study/blob/main/ai03_%EB%B0%B1%EA%B2%BD%EB%A0%AC_Section1_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 다음 분기에 어떤 게임을 출시 해야 할 것인가 ! ( 다음 분기에 어떤 게임을 설계 해야 하는가?)

2. 데이터 내용을 분석 하고 colab으로 작성 해서 해당 내용 설명을 영상으로 작성해야 함.

3. 배운 내용 위주로 설정 하는 것을 권장.

4. 발표를 듣는 사람이 비데이터 직군이라 가정. ( 배경 지식 없는 사람도 이해하기 쉽게 설명 해야 함 )

5. 수업시간에 배운 주제를 위주로 사용.

6. 반드시 들어가야 하는 내용 ! ( 질문에 대답 할 수 있어야 한다 ! )
 - 지역에 따라서 선호하는 게임의 장르가 다를까 ?
 - 연도별 게임의 트렌드가 있을까 ?
 - 출고량 높은 게임에 대한 분석 및 시각화 프로세스 포함 !
7. 준비물 !
 - PPT 사용 가능 (옵션), Colab 노트북 보면서 발표 해도 됨. 
 - 발표 스크립트 (옵션), 
 - 발표 영상
8. 슬라이드에 들어가야 할 내용
 - 여러분이 생각 하는 문제 (혹은 풀었으면 하는 문제) 제시
 - 그 문제에 대한 가설 및 사용한 데이터셋에 대한 설명
 - 작업 결과 및 결론
9. 발표 스크립트 
 - 슬라이드를 설명 하는 스크립트 작성 ( 있으면 없는거랑 차이 큼 , 자연스럽게 말을 하듯 스크립트 작성 하면 자연스러운 결과물 만들 수 있음 )
10. 발표 영상 ( 녹화 및 제출 )
 - 발표 영상을 슬라이드, 스크립트를 사용해서 Zoom 으로 5분 이내 영상을 녹화.
 - 영상 촬영 방법은 AI Docs를 참조 
 - 녹화 영상 파일 설문조사 폼을 통해서 제출
11. 단정한 복장 

# 수요일 6시 까지 제출. 미리 제출 하는게 좋을 것임. 영상 올리다 짤리면 안됨!
# 최소한 한시간 전에 폼 작성 하는 것이 바람직.

In [43]:
import pandas as pd

df = pd.read_csv('vgames2.csv', index_col = 0)
df

                                                 Name  ... Other_Sales
1                        Candace Kane's Candy Factory  ...           0
2                                      The Munchables  ...        0.01
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...           0
4                    Deal or No Deal: Special Edition  ...           0
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.04
...                                               ...  ...         ...
16594                         Ice Age 2: The Meltdown  ...        0.01
16595                     Rainbow Islands: Revolution  ...           0
16596                                        NBA 2K16  ...        0.13
16597                     Toukiden: The Age of Demons  ...        0.03
16598                        The King of Fighters '95  ...        0.01

[16598 rows x 9 columns]

In [6]:
df.value_counts('Genre')

Genre
Action          3305
Sports          2341
Misc            1734
Role-Playing    1483
Shooter         1308
Adventure       1280
Racing          1243
Platform         884
Simulation       865
Fighting         847
Strategy         680
Puzzle           578
dtype: int64

In [7]:
df.value_counts('Platform')

Platform
DS      2163
PS2     2161
PS3     1329
Wii     1325
X360    1265
PSP     1213
PS      1196
PC       960
XB       824
GBA      822
GC       556
3DS      509
PSV      413
PS4      336
N64      319
SNES     239
XOne     213
SAT      173
WiiU     143
2600     133
NES       98
GB        98
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
dtype: int64

In [8]:
df.value_counts('Name')

Name
Need for Speed: Most Wanted                    12
FIFA 14                                         9
Madden NFL 07                                   9
LEGO Marvel Super Heroes                        9
Ratatouille                                     9
                                               ..
PenPen TriIceLon                                1
Pen 1 Grand Prix: Penguin no Mondai Special     1
Peggle: Dual Shot                               1
Peggle Nights                                   1
'98 Koshien                                     1
Length: 11493, dtype: int64

In [9]:
df.value_counts('Year')

Year
2009.0    1421
2008.0    1418
2010.0    1252
2007.0    1199
2011.0    1129
          ...
97.0         2
1.0          2
86.0         1
94.0         1
2020.0       1
Length: 62, dtype: int64

In [10]:
df.value_counts('Publisher')

Publisher
Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
EON Digital Entertainment          1
EA Games                           1
DreamWorks Interactive             1
Rain Games                         1
Locus                              1
Length: 578, dtype: int64

In [11]:
df.value_counts('NA_Sales')

NA_Sales
0        4443
0.02      537
0.01      536
0.03      528
0.05      523
         ...
3.38        1
3.39        1
3.4         1
3.42        1
11.38       1
Length: 494, dtype: int64

In [12]:
df.value_counts('EU_Sales')

EU_Sales
0       5665
0.01    1480
0.02    1255
0.03     925
0.04     734
        ...
2.65       1
2.75       1
2.77       1
2.78       1
960K       1
Length: 363, dtype: int64

In [13]:
df.value_counts('JP_Sales')

JP_Sales
0        10333
0.02       716
0.01       696
0.03       521
0.04       393
         ...
2.05         1
0.75M        1
2            1
150K         1
1.21         1
Length: 282, dtype: int64

In [14]:
df.value_counts('Other_Sales')

Other_Sales
0        6386
0.01     3412
0.02     1567
0.03      926
0.04      660
         ...
1.82        1
1.83        1
1.92        1
10.57       1
1.42        1
Length: 190, dtype: int64

In [ ]:
# 연도별 많이 출시된 장르
# 연도별 최다 판매 게임 ( 총 판매량으로 하나 만들어 놓는것도 좋을 듯. )

In [2]:
# 연도별 많이 출시된 장르
df.head()

                                             Name Platform  ...  JP_Sales Other_Sales
1                    Candace Kane's Candy Factory       DS  ...         0           0
2                                  The Munchables      Wii  ...         0        0.01
3  Otome wa Oanesama Boku ni Koi Shiteru Portable      PSP  ...      0.02           0
4                Deal or No Deal: Special Edition       DS  ...         0           0
5       Ben 10 Ultimate Alien: Cosmic Destruction      PS3  ...         0        0.04

[5 rows x 9 columns]

In [4]:
df.melt('Genre', 'Year')

           Genre variable   value
0         Action     Year  2008.0
1         Action     Year  2009.0
2      Adventure     Year  2010.0
3           Misc     Year  2010.0
4       Platform     Year  2010.0
...          ...      ...     ...
16593   Platform     Year  2006.0
16594     Action     Year  2005.0
16595     Sports     Year  2015.0
16596     Action     Year  2013.0
16597   Fighting     Year  1996.0

[16598 rows x 3 columns]

In [9]:
# Year, Genre, Publisher 에서 결측값이 확인 됨.
df.isnull().sum()

Name             0
Platform         0
Year           271
Genre           50
Publisher       58
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
dtype: int64

In [28]:
df.groupby('Year').get_group(2017)

                                                   Name  ... Other_Sales
5311                   Brothers Conflict: Precious Baby  ...           0
10108  Phantasy Star Online 2 Episode 4: Deluxe Package  ...           0
15234  Phantasy Star Online 2 Episode 4: Deluxe Package  ...           0

[3 rows x 9 columns]

In [35]:
df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].replace(['K', 'M'], [10**0.001, '']).head(30)

   NA_Sales EU_Sales JP_Sales Other_Sales
1      0.04        0        0           0
2      0.17        0        0        0.01
3         0        0     0.02           0
4      0.04        0        0           0
5      0.12     0.09        0        0.04
6         0        0     0.14           0
7      0.02     0.01        0           0
8      0.07        0     0.11        0.01
9         0        0     0.04           0
10     0.04     0.03        0        0.01
11     480K    0.33M       0K        0.06
12     0.14     0.05        0           0
13        0     0.02        0           0
14     0.02        0        0           0
15        0        0     0.02           0
16     0.14     0.16        0        0.06
17     0.01     0.02        0        0.01
18        0        0     0.03           0
19     0.02        0     0.03           0
20        0     0.02        0           0
21     0.57     0.45        0        0.15
22     0.06     0.04        0        0.01
23     0.08     0.02        0           0
24        0     0.01        0           0
25     0.48     0.53     0.01        0.23
26     0.02     0.01        0           0
27     0.03     0.02        0           0
28        0     0.23        0        0.06
29        0        0     0.08           0
30     0.14      0.1        0        0.02

In [44]:
sales = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
for i in sales:
  df[i]= (df[i].replace(r'[KM]+$', '', regex=True).astype(float) * \
                df[i].str.extract(r'[\d\.]+([KM]+)', expand=False)
                  .fillna(1)
                  .replace(['K','M'], [10**-3, 1]).astype(int))

In [45]:
df[sales].head(30)

    NA_Sales  EU_Sales  JP_Sales  Other_Sales
1       0.04      0.00      0.00         0.00
2       0.17      0.00      0.00         0.01
3       0.00      0.00      0.02         0.00
4       0.04      0.00      0.00         0.00
5       0.12      0.09      0.00         0.04
6       0.00      0.00      0.14         0.00
7       0.02      0.01      0.00         0.00
8       0.07      0.00      0.11         0.01
9       0.00      0.00      0.04         0.00
10      0.04      0.03      0.00         0.01
11      0.00      0.33      0.00         0.06
12      0.14      0.05      0.00         0.00
13      0.00      0.02      0.00         0.00
14      0.02      0.00      0.00         0.00
15      0.00      0.00      0.02         0.00
16      0.14      0.16      0.00         0.06
17      0.01      0.02      0.00         0.01
18      0.00      0.00      0.03         0.00
19      0.02      0.00      0.03         0.00
20      0.00      0.02      0.00         0.00
21      0.57      0.45      0.00         0.15
22      0.06      0.04      0.00         0.01
23      0.08      0.02      0.00         0.00
24      0.00      0.01      0.00         0.00
25      0.48      0.53      0.01         0.23
26      0.02      0.01      0.00         0.00
27      0.03      0.02      0.00         0.00
28      0.00      0.23      0.00         0.06
29      0.00      0.00      0.08         0.00
30      0.14      0.10      0.00         0.02

In [46]:
df[sales].sum() # 북미쪽 시장이 크다 !

NA_Sales       4355.31
EU_Sales       2418.61
JP_Sales       1283.40
Other_Sales     793.89
dtype: float64

In [56]:
df['total_sales'] = df[sales].sum(axis = 1)
df

                                                 Name  ... total_sales
1                        Candace Kane's Candy Factory  ...        0.04
2                                      The Munchables  ...        0.18
3      Otome wa Oanesama Boku ni Koi Shiteru Portable  ...        0.02
4                    Deal or No Deal: Special Edition  ...        0.04
5           Ben 10 Ultimate Alien: Cosmic Destruction  ...        0.25
...                                               ...  ...         ...
16594                         Ice Age 2: The Meltdown  ...        0.20
16595                     Rainbow Islands: Revolution  ...        0.01
16596                                        NBA 2K16  ...        0.79
16597                     Toukiden: The Age of Demons  ...        0.38
16598                        The King of Fighters '95  ...        0.17

[16598 rows x 10 columns]

In [58]:
df[df['total_sales'] == df['total_sales'].max()]    # 위 스포츠 !! 엄청난 매출을 선보였음!

            Name Platform    Year  ... JP_Sales Other_Sales  total_sales
2909  Wii Sports      Wii  2006.0  ...     3.77        8.46        82.74

[1 rows x 10 columns]

In [60]:
df[['total_sales']].sorted(reverse = True)

AttributeError: ignored

In [69]:
df.sort_values(by=['total_sales'], axis=0)

                                                    Name  ... total_sales
9996                                       Virtua Racing  ...        0.00
3446                 Toaru Majutsu no Kagaku no Ensemble  ...        0.00
12333              The Cages: Pro Style Batting Practice  ...        0.00
14411                                   World Poker Tour  ...        0.00
14407  Dangerous Ji-San to 1000-nin no Otomodachi Yok...  ...        0.00
...                                                  ...  ...         ...
7830                            Pokemon Red/Pokemon Blue  ...       31.38
3353                                   Wii Sports Resort  ...       33.00
12580                                     Mario Kart Wii  ...       35.83
4200                                   Super Mario Bros.  ...       40.24
2909                                          Wii Sports  ...       82.74

[16598 rows x 10 columns]

In [79]:
df.sort_values(by=['total_sales'], axis=0, ascending=False).head(100)

                                         Name  ... total_sales
2909                               Wii Sports  ...       82.74
4200                        Super Mario Bros.  ...       40.24
12580                          Mario Kart Wii  ...       35.83
3353                        Wii Sports Resort  ...       33.00
7830                 Pokemon Red/Pokemon Blue  ...       31.38
...                                       ...  ...         ...
12851     Super Smash Bros. for Wii U and 3DS  ...        7.44
10938              Call of Duty: World at War  ...        7.38
1036   The Legend of Zelda: Twilight Princess  ...        7.32
15982               Call of Duty: Black Ops 3  ...        7.29
11300                              Just Dance  ...        7.27

[100 rows x 10 columns]

In [83]:
sales_top_100 = df.sort_values(by=['total_sales'], axis=0, ascending=False).head(100)
sales_top_100

                                         Name  ... total_sales
2909                               Wii Sports  ...       82.74
4200                        Super Mario Bros.  ...       40.24
12580                          Mario Kart Wii  ...       35.83
3353                        Wii Sports Resort  ...       33.00
7830                 Pokemon Red/Pokemon Blue  ...       31.38
...                                       ...  ...         ...
12851     Super Smash Bros. for Wii U and 3DS  ...        7.44
10938              Call of Duty: World at War  ...        7.38
1036   The Legend of Zelda: Twilight Princess  ...        7.32
15982               Call of Duty: Black Ops 3  ...        7.29
11300                              Just Dance  ...        7.27

[100 rows x 10 columns]

In [90]:
pd.crosstab(sales_top_100['Publisher'], sales_top_100['Genre'], margins = sum, margins_name = 'total')

# 탑 100 안에 있는 게임 중 닌텐도에서 출시한 게임이 49개를 차지하고 있다.
# 슈팅게임이 탑 100 안에 있는 게임중에 제일 많지만, 우리는 매출액이 큰 Nintendo에 게임을 출시하도록 설계 해보자.

Genre                        Action  Adventure  ...  Sports  total
Publisher                                       ...
Activision                        0          0  ...       0     15
Atari                             0          0  ...       0      1
Bethesda Softworks                0          0  ...       0      1
Electronic Arts                   1          0  ...       1      4
Microsoft Game Studios            0          0  ...       0      6
Nintendo                          2          1  ...       4     49
Sega                              0          0  ...       1      1
Sony Computer Entertainment       0          0  ...       0      8
SquareSoft                        0          0  ...       0      1
Take-Two Interactive              9          0  ...       0      9
Ubisoft                           0          0  ...       0      3
total                            12          1  ...       6     98

[12 rows x 12 columns]

In [94]:
sales_top_100.groupby('Publisher').get_group('Nintendo')

                                               Name  ... total_sales
2909                                     Wii Sports  ...       82.74
4200                              Super Mario Bros.  ...       40.24
12580                                Mario Kart Wii  ...       35.83
3353                              Wii Sports Resort  ...       33.00
7830                       Pokemon Red/Pokemon Blue  ...       31.38
1204                                         Tetris  ...       30.26
6938                          New Super Mario Bros.  ...       30.01
3015                                       Wii Play  ...       29.01
16532                     New Super Mario Bros. Wii  ...       28.61
10489                                     Duck Hunt  ...       28.31
11138                                    Nintendogs  ...       24.75
10651                                 Mario Kart DS  ...       23.43
9417                    Pokemon Gold/Pokemon Silver  ...       23.09
3436                                        Wii Fit  ...       22.72
10900                                  Wii Fit Plus  ...       22.00
13112                             Super Mario World  ...       20.62
13230  Brain Age: Train Your Brain in Minutes a Day  ...       20.22
10556                 Pokemon Diamond/Pokemon Pearl  ...       18.35
9492                               Super Mario Land  ...       18.14
14857                           Super Mario Bros. 3  ...       17.28
10918                 Pokemon Ruby/Pokemon Sapphire  ...       15.84
10622                   Pokemon Black/Pokemon White  ...       15.32
512     Brain Age 2: More Training in Minutes a Day  ...       15.30
8534        Pokémon Yellow: Special Pikachu Edition  ...       14.64
14903                       Super Smash Bros. Brawl  ...       13.04
3274                    Animal Crossing: Wild World  ...       12.28
11124                                  Mario Kart 7  ...       12.21
6459                                 Super Mario 64  ...       11.90
4807           Pokemon HeartGold/Pokemon SoulSilver  ...       11.90
12406                            Super Mario Galaxy  ...       11.52
4252      Pokemon Omega Ruby/Pokemon Alpha Sapphire  ...       11.33
6848             Super Mario Land 2: 6 Golden Coins  ...       11.18
12624                           Super Mario 3D Land  ...       10.79
3008                          Super Mario All-Stars  ...       10.55
1811              Pokemon FireRed/Pokemon LeafGreen  ...       10.49
12473                                Super Mario 64  ...       10.42
578                                   Mario Kart 64  ...        9.87
10380                       New Super Mario Bros. 2  ...        9.83
7129                            Donkey Kong Country  ...        9.30
1972                            Pokemon X/Pokemon Y  ...        9.18
8907                      Animal Crossing: New Leaf  ...        9.10
7702                                 Mario Party DS  ...        9.02
9583                               Super Mario Kart  ...        8.77
4599                                      Wii Party  ...        8.49
15266                                 Mario Party 8  ...        8.42
15679               Pokemon Black 2/Pokemon White 2  ...        8.34
12001                                 GoldenEye 007  ...        8.09
7632                       Pokémon Platinum Version  ...        7.84
16516                          Super Mario Galaxy 2  ...        7.70
12851           Super Smash Bros. for Wii U and 3DS  ...        7.44
1036         The Legend of Zelda: Twilight Princess  ...        7.32

[51 rows x 10 columns]

In [95]:
df.groupby('Publisher').get_group('Nintendo')

                                                    Name  ... total_sales
34     Mario & Luigi: Paper Jam & Mario Kart 7 Double...  ...        0.01
37                             Advance Wars: Dual Strike  ...        0.40
67                                    Kirby: Mass Attack  ...        1.04
71                                     Command & Conquer  ...        0.27
77                                         Wrecking Crew  ...        0.51
...                                                  ...  ...         ...
16516                               Super Mario Galaxy 2  ...        7.70
16532                          New Super Mario Bros. Wii  ...       28.61
16541                            Pocket Monsters Stadium  ...        1.37
16555                           ASH: Archaic Sealed Heat  ...        0.12
16586                                    Pokemon Channel  ...        0.38

[703 rows x 10 columns]