<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [322]:

# 구분	종가	발행주식수	시가총액	시장점유율	PDR
# 0	18년	101500	137292497	13935188445500	62.0	~
# 1	19년	93800	137292497	12878036218600	63.5	~

# 데이터 프레임으로 만드는 법

In [323]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [324]:
import pandas as pd

df = pd.read_csv(url, names = headers)
df

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [325]:
# 영업이익률 계산 방법은 구해진 영업이익을 매출액으로 나누고 100을 곱해 %를 구하시면 됩니다. 즉 총매출액대비 영업이익의 수준이 어느정도냐에 따라서 마진율이 얼마나 좋은지 파악할 수 있는 지표입니다.
# 영업이익률2 = (영업이익 / 매출액) * 100
def toint(string):
  return int(string.replace(',',''))

df['영업이익률2'] = (df['영업이익'].apply(toint) / df['매출액'].apply(toint)) * 100
df

      분기     매출액   영업이익 영업이익(발표기준)  ...   자본유보율 EPS(원) PER(배)     영업이익률2
0   19/6  12,578  3,991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13,222  3,825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11,982  2,523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11,784  3,150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13,188  3,947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [326]:
# 시가총액을 TAM(전체시장규모)에 해당 기업의 시장점유율을 곱한 값으로 나눠 PDR을 산출한다
# PDR = 시가총액 /(전체 시장규모 * 시장 점유율)


# 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.

# 변수 이름은 df2, feature 이름은 PDR로, df2['PDR']을 통해 ~ 값이 확인 되어야합니다.
# 구분	종가	발행주식수	시가총액	시장점유율	PDR
# 0	18년	101500	137292497	13935188445500	62.0	~
# 1	19년	93800	137292497	12878036218600	63.5	~

# 오늘 PDR을 계산 하기 위해서 몇 가지 전제 조건들이 필요한데요, 해당 내용을 공유해드립니다. 점유율은 (일반담배 기준) 18년:62%, 19년 63.5% 로 계산합니다. 시장의 규모는 18년 15조, 19년 15조 라고 가정합니다.


data = [['18년', 101500, 137292497, 13935188445500, 62.0, 15000000000000],
        ['19년', 93800, 137292497, 12878036218600, 63.5, 15000000000000]]
df2 = pd.DataFrame(data, columns = ['구분', '종가', '발행주식수', '시가총액', '시장점유율', '전체시장규모'] ,index = ['0', '1'])
df2['PDR'] = (df2['시가총액'] /(df2['전체시장규모']*(df2['시장점유율']/100))) * 100
df2['PDR']

0    149.840736
1    135.202480
Name: PDR, dtype: float64

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [327]:
# split(), ''.join(), int()
int(''.join(df['매출액'][0].split(',')))

12578

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [328]:
import numpy as np

df = df.replace(np.nan, 0)

def tofloat(string):
  return float(string.replace(',',''))

# df['매출액'] = df['매출액'].apply(tofloat)

for i, j in zip(df[:], range(26)):
  if j > 0:
    if df[i].dtype == object:
      df[i] = df[i].apply(tofloat)

df.dtypes

분기             object
매출액           float64
영업이익          float64
영업이익(발표기준)    float64
세전계속사업이익      float64
당기순이익         float64
당기순이익(지배)     float64
당기순이익(비지배)      int64
자산총계          float64
부채총계          float64
자본총계          float64
자본총계(지배)      float64
자본총계(비지배)     float64
자본금           float64
영업활동현금흐름      float64
투자활동현금흐름      float64
재무활동현금흐름      float64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)        float64
PER(배)        float64
영업이익률2        float64
dtype: object

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [329]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['매출액'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [330]:
grade(df, df2)

5

In [331]:
round(df2['PDR'], 3)

0    149.841
1    135.202
Name: PDR, dtype: float64

In [332]:
round(1.498-1.352, 3)

0.146

In [333]:
round(df['영업이익률2'], 3).min()

21.057

In [334]:
df['매출액'][0]

12578.0

In [335]:
(df.dtypes == 'O').sum()

1

In [336]:
# round(float, 소숫점 자리수)
(round(df2['PDR'], 3) == [149.841, 135.202]).sum()

2

## 🔥 도전과제

### NA Value Handling

- 19년도 4분기의 당기순이익(비지배) 부분을 Na로 대체하세요
- 이후 해당 결측치를 mean imputation 방법을 사용하여 처리하세요.

In [337]:
df.loc[2, '당기순이익(비지배)'] = 'Na'
df.loc[2, '당기순이익(비지배)'] = None
df.fillna(df.mean())

      분기      매출액    영업이익  영업이익(발표기준)  ...   자본유보율  EPS(원)  PER(배)     영업이익률2
0   19/6  12578.0  3991.0      3991.0  ...  803.22  2351.0   13.77  31.730005
1   19/9  13222.0  3825.0      3825.0  ...  836.86  2337.0   13.87  28.929058
2  19/12  11982.0  2523.0      2523.0  ...  850.82   873.0   12.42  21.056585
3   20/3  11784.0  3150.0      3150.0  ...  823.16  2134.0    9.71  26.731161
4   20/6  13188.0  3947.0      3947.0  ...  837.40  2135.0   10.46  29.928723

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance 라는 새로운 feature를 계산하세요.

이는 최근 1년치 매출액의 평균값을 기준으로 

- 10% 이상 -> `S`
- 5% 이상 -> `A`
- -5 ~ 5% -> `B`
- -5%이하 -> `C`
- 10%이하 -> `D`

라는 값을 갖는 feature입니다.

20년도 2분기에 해당하는 결과값은 `A`가 나와야합니다.

각각에 해당하는 등급이 나오기 위해서 필요한 매출액을 추가로 서술하세요.

In [338]:
import numpy as np

RP = ( df['매출액'] / df['매출액'].mean() - 1 ) * 100

df['Relative Perfomance'] = ( df['매출액'] / df['매출액'].mean() - 1 ) * 100

df['Relative Perfomance'][RP<-10] = 'D' 
df['Relative Perfomance'][(RP>-10) & (RP<-5)]= 'C'
df['Relative Perfomance'][(RP>-5) & (RP<5)]= 'B'
df['Relative Perfomance'][(RP>5) & (RP<10)]= 'A'
df['Relative Perfomance'][RP>10]= 'S' 
df

      분기      매출액    영업이익  ...  PER(배)     영업이익률2  Relative Perfomance
0   19/6  12578.0  3991.0  ...   13.77  31.730005                    B
1   19/9  13222.0  3825.0  ...   13.87  28.929058                    A
2  19/12  11982.0  2523.0  ...   12.42  21.056585                    B
3   20/3  11784.0  3150.0  ...    9.71  26.731161                    C
4   20/6  13188.0  3947.0  ...   10.46  29.928723                    A

[5 rows x 27 columns]

In [339]:
RP

0    0.216719
1    5.347866
2   -4.531982
3   -6.109571
4    5.076967
Name: 매출액, dtype: float64

In [340]:
# S 매출액 > (10 / 100 + 1)*(매출액 평균)
# (10 / 100 + 1)*(매출액 평균) > A 매출액 > (5 / 100 + 1)*(매출액 평균)
# (5 / 100 + 1)*(매출액 평균) > B 매출액 > (-5 / 100 + 1)*(매출액 평균)
# (-5 / 100 + 1)*(매출액 평균) > C 매출액 > (-10 / 100 + 1)*(매출액 평균)
# D 매출액 < (-10 / 100 + 1)*(매출액 평균)

print( 'S_매출액 >',  round((10 / 100 + 1)*df['매출액'].mean(), 2))
print(round((5 / 100 + 1)*df['매출액'].mean(), 2), '< A_매출액 <',  round((10 / 100 + 1)*df['매출액'].mean(), 2))
print(round((-5 / 100 + 1)*df['매출액'].mean(), 2), '< B_매출액 <',  round((5 / 100 + 1)*df['매출액'].mean(), 2))
print(round((-10 / 100 + 1)*df['매출액'].mean(), 2), '< C_매출액 <',  round((-5 / 100 + 1)*df['매출액'].mean(), 2))
print( 'D_매출액 <',  round((-10 / 100 + 1)*df['매출액'].mean(), 2))

S_매출액 > 13805.88
13178.34 < A_매출액 < 13805.88
11923.26 < B_매출액 < 13178.34
11295.72 < C_매출액 < 11923.26
D_매출액 < 11295.72