<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [7]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')

res1 = df_iris.shape[0]/df_iris.shape[1]
res1
# res1 = 30.0

30.0

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [8]:
df_iris.drop(df_iris.columns[1:], axis = 1, inplace = True)
# df.rename(columns={"변경전":"변경후"}, inplace=True)
df_iris.rename(columns = {'sepal_length':'x'}, inplace = True)
df_iris
x = df_iris['x']
# 이곳에 답안을 작성합니다.

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [9]:
def num_one(x):
    return 20*x**4 + 27*x**2 + 2*np.exp(1)*x
df_iris['derivative_one'] = num_one(x)
res2 = round(df_iris['derivative_one'].sum(), 3)
res2
# 이곳에 답안을 작성해주시기 바랍니다
# res2 = 4077643.108

4077643.108

In [10]:
df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [11]:
from scipy.misc import derivative

def f_real(x):
  return 4*x**5 + 9*x**3 + np.exp(1)*x**2 - 7

def f(x):
  return derivative(f_real, x, dx = 1e-7)

df_iris['derivative_two'] = f(x)
res3 = round(df_iris['derivative_two'].sum(), 3)
res3
# 이곳에 답안을 작성해주시기 바랍니다
# res3 = 4077643.121

4077643.121

In [12]:
df_iris

       x  derivative_one  derivative_two
0    5.1    14260.398475    14260.398502
1    4.9    12204.511162    12204.511186
2    4.7    10381.343849    10381.343873
3    4.6     9551.240193     9551.240219
4    5.0    13202.182818    13202.182863
..   ...             ...             ...
145  6.7    41550.696977    41550.697097
146  6.3    32611.802351    32611.802490
147  6.5    36877.337664    36877.337734
148  6.2    30624.258695    30624.258798
149  5.9    25206.667726    25206.667779

[150 rows x 3 columns]

## 4. 미분 연습
>아래의 함수들을 미분한 후에 **x = 5**일 때의 결과값을 `res4`, `res5`, `res6`, `res7`에 저장하세요.

 $f(x) = e^x$

In [13]:
x_defult = 5
delta_x = 1e-7

def derivative_function(fx, x):
  return ((fx(x + delta_x)) - (fx(x - delta_x))) / (2*delta_x)

def f4(x):
 return np.exp(x)

def e_prime(x):
  return derivative(f4, x_defult, dx = delta_x) 

print(np.exp(x_defult))
print(e_prime(x_defult))
print(derivative_function(f4, x_defult))
print(round(e_prime(x_defult), 3) == round(np.exp(5), 3) == round(derivative_function(f4, x_defult), 3))
res4 = e_prime(x_defult)
res4
# 이 곳에 답안을 작성하세요
# res4 = 148.41315959301937

148.4131591025766
148.41315959301937
148.41315959301937
True

148.41315959301937

$f(x) = lnx$

In [14]:
def f5(x):
  return np.log(x)

def ln_prime(x):
  return derivative(f5, x_defult, delta_x)

res5 = ln_prime(x_defult)
res5
# 이 곳에 답안을 작성하세요
# res5 = 0.19999999989472883

0.19999999989472883

$f(x) = Sin(2x)$

In [15]:
def f6(x):
  return np.sin(2*x)

def sine_prime(x):
  return derivative(f6, x_defult, dx = delta_x)

res6 = sine_prime(x_defult)
res6
# 이 곳에 답안을 작성하세요
# res6 = -1.6781430628443061

-1.6781430628443061

$f(x) = (2x^2 + 8x)^2$

In [16]:
def f7(x):
  return (2*x**2 + 8*x)**2

def f_prime(x):
  return derivative(f7, x_defult, delta_x)

res7 = int(f_prime(x_defult))
res7

5040

## 3. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [110]:
xp2 = 3
p1 = xp2/np.exp(1)
print(p1)

xp1 = 10
k2 = 100
p2 = - ((-k2/2) / -2) + np.exp(1)*xp1
print(p2)

# 이 곳에 답안을 작성하세요
# p1 = 1.103638323514327 , p2 = 2.18281828459045

1.103638323514327
2.18281828459045

In [111]:
# def gradient_descent(X, y, lr = 0.05, epoch = 10):
    
#     a, b = 0.33, 0.48 # 임의 선택한 파라미터 a, b
#     N = len(X) # 샘플 갯수
    
#     for _ in range(epoch):            
#         f = y - (a*X + b)
    
#         # a와 b를 업데이트 합니다
#         a -= lr * (-2 * X.dot(f).sum() / N)
#         b -= lr * (-2 * f.sum() / N)   
        
#     print('a: '+str(a))
#     print('b: '+str(b))

# p1 에 대해서 미분
# def p1_prim(p1,p2):
#   return 2*(np.exp(1)*p1 - p2)*(np.exp(1))

# # p2 에 대해서 미분
# def p1_prim(p1,p2):
#   k2 = 100
#   return -2*(np.exp(1)*p1 - p2) + k2/2


# def fp1(p1):
#   p2 = 3
#   k2 = 100
#   return (np.exp(1)*p1 - p2)**2 + (k2/2)*p2

# def fp1_prim(p1):
#   return derivative(fp1, p1, delta_x)

# def fp2(p2):
#   p1 = 10
#   k2 = 100
#   return (np.exp(1)*p1 - p2)**2 + (k2/2)*p2

# def fp2_prim(p2):
#   return derivative(fp2, p2, delta_x)


# def gradient_descent(X, y, lr = 0.05, epoch = 10):
#   # p1만 임의 의 수, p2는 3
#   p1, p2 = 1, 3

#   N = len(X)

#   for _ in range(epoch):
#     f = y - fp1(X)

#     # p1 업데이트
#     p1 -= lr * (-2 * X.dot(f).sum() / N)
  
#   print('p1: ' + str(p1))
#   print('p2: ' + str(p2))

# X = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
# y = fp1(X)
# gradient_descent(X, y, lr = 0.05, epoch = 100)



#   p1, p2 = 1, 1
#   N =

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [108]:
def grade(res1, res2, res3, res4, res5, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4077643.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/np.exp(1))
    score += (p2 == 10*np.exp(1)-25)
  
    return(score)

In [109]:
grade(res1, res2, res3, res4, res5, p1, p2)

9

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [116]:
def sig(x):
  return 1/(1 + np.exp(1)**(-x))

def sig_prime(x):
    return derivative(sig, x, dx = delta_x)

x = 3
challenge = sig_prime(x)
challenge   
# 이곳에 답안을 작성하세요.
# challenge = 0.045176660190549

0.045176660190549