<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# 📝 Assignment

## 1. Feature Engineering

- `KT&G` 기업 데이터를 계속 사용합니다.
  - 변수 이름은 `df`로 저장하세요.

- 각 분기별 영업이익률을 직접 계산해보세요. 
  - Feature 이름은 `영업이익률2` 입니다.

- 아래 데이터를 참조하여 18/19년도에 대해서 Price to Dream Ratio (PDR)을 계산하세요.
  - 변수 이름은 `df2`, feature 이름은 `PDR`로, `df2['PDR']`을 통해 `~` 값이 확인 되어야합니다.

||구분|종가|발행주식수|시가총액|시장점유율|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18년|101500|137292497|13935188445500|62.0|~|
|1|19년|93800|137292497|12878036218600|63.5|~|

In [71]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['분기', '매출액', '영업이익', '영업이익(발표기준)', '세전계속사업이익',
           '당기순이익', '당기순이익(지배)', '당기순이익(비지배)', '자산총계', '부채총계',
           '자본총계', '자본총계(지배)', '자본총계(비지배)', '자본금', '영업활동현금흐름',
           '투자활동현금흐름', '재무활동현금흐름', '영업이익률', '순이익률', 'ROE(%)',
           'ROA(%)', '부채비율', '자본유보율', 'EPS(원)', 'PER(배)']

In [72]:
import pandas as pd

df = pd.read_csv(url, header=None, names=headers)
df

      분기     매출액   영업이익 영업이익(발표기준)  ...   부채비율   자본유보율 EPS(원)  PER(배)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [73]:
df.shape

(5, 25)

In [74]:

# 영업이익률 직접 계산
# 자료형을 숫자로 변환 후 계산하기
# (영업이익 / 매출액) * 100

def column_cleaning(col):
  temp_list = []  # 빈 리스트 준비

  for i in col:
    temp = int(i.replace(",", ""))  # ,를 없애고 > int로 변환합니다. 
    temp_list.append(temp)  # 최종 변환한 데이터를 리스트에 추가합니다.

  return temp_list # 함수의 결과로 리스트를 반환합니다.

In [75]:
df["매출액"] = column_cleaning(df["매출액"])
df["영업이익"] = column_cleaning(df["영업이익"])

df["영업이익률2"] = round((df["영업이익"]/df["매출액"])*100, 2)  # round 함수를 사용하여 소수점 2자리까지 자릅니다.

In [76]:
# 확인
df["영업이익률2"]

0    31.73
1    28.93
2    21.06
3    26.73
4    29.93
Name: 영업이익률2, dtype: float64

In [77]:
df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익          object
당기순이익(지배)      object
당기순이익(비지배)      int64
자산총계           object
부채총계           object
자본총계           object
자본총계(지배)       object
자본총계(비지배)     float64
자본금            object
영업활동현금흐름       object
투자활동현금흐름       object
재무활동현금흐름       object
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)         object
PER(배)        float64
영업이익률2        float64
dtype: object

In [78]:
# Price to Dream Ratio 계산
# PDR : stock/(tam*(market_share/100))*100

d2 = {'구분':['18년','19년'],
    '종가':[101500,93800],
    '발행주식수':[137292497,137292497],
    '시가총액':[13935188445500,12878036218600],
    '시장점유율':[62.0,63.5],
    '시장규모':[15000000000000,15000000000000],
    'PDR':['','']}
    
df2 = pd.DataFrame(data=d2)
df2

    구분      종가      발행주식수            시가총액  시장점유율            시장규모 PDR
0  18년  101500  137292497  13935188445500   62.0  15000000000000
1  19년   93800  137292497  12878036218600   63.5  15000000000000

In [79]:
df2["PDR"] = ((df2['종가']*df2['발행주식수'])/(df2['시장규모']*(df2['시장점유율']/100)))*100

In [80]:
df2["PDR"]

0    149.840736
1    135.202480
Name: PDR, dtype: float64

## 2. String Manipulation

- replace가 아닌 다른 방법을 사용하여 19년도 2분기의 매출액 을 integer로 변경하세요. 결과값은 12578이 나와야합니다.

In [81]:
tmp = "12,578"

In [82]:
# 확인
tmp

'12,578'

In [83]:
a,b = tmp.split(",")
revenue_19_2 = int(a+b)


# 확인 
revenue_19_2

12578

## 3. Apply
- 데이터셋의 분기를 제외한 모든 feature에 대해서 수치형 데이터 (`int`, `float`) 로 수정하고, `describe`를 통해 summary statistics 를 확인하세요.
- 단 결측치는 `0`으로 처리합니다.

In [84]:
# 자료형 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 26 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   분기          5 non-null      object
 1   매출액         5 non-null      int64
 2   영업이익        5 non-null      int64
 3   영업이익(발표기준)  5 non-null      object
 4   세전계속사업이익    5 non-null      object
 5   당기순이익       5 non-null      object
 6   당기순이익(지배)   5 non-null      object
 7   당기순이익(비지배)  5 non-null      int64
 8   자산총계        5 non-null      object
 9   부채총계        5 non-null      object
 10  자본총계        5 non-null      object
 11  자본총계(지배)    5 non-null      object
 12  자본총계(비지배)   2 non-null      float64
 13  자본금         5 non-null      object
 14  영업활동현금흐름    5 non-null      object
 15  투자활동현금흐름    5 non-null      object
 16  재무활동현금흐름    5 non-null      object
 17  영업이익률       5 non-null      float64
 18  순이익률        5 non-null      float64
 19  ROE(%)      5 non-null      float64
 20  ROA(%)      5 non-null      float64
 21  부채비율        5 non-null      float64
 22  자본유보율       5 non-null      float64
 23  EPS(원)      5 non-null      object
 24  PER(배)      5 non-null      float64
 25  영업이익률2      5 non-null      float64
dtypes: float64(9), int64(3), object(14)
memory usage: 1.1+ KB

In [85]:
# 결측치 -> 0으로 채우기
df.fillna(0, inplace=True)

In [86]:
# 컬럼 별 결측치 확인
df.isnull().sum()

분기            0
매출액           0
영업이익          0
영업이익(발표기준)    0
세전계속사업이익      0
당기순이익         0
당기순이익(지배)     0
당기순이익(비지배)    0
자산총계          0
부채총계          0
자본총계          0
자본총계(지배)      0
자본총계(비지배)     0
자본금           0
영업활동현금흐름      0
투자활동현금흐름      0
재무활동현금흐름      0
영업이익률         0
순이익률          0
ROE(%)        0
ROA(%)        0
부채비율          0
자본유보율         0
EPS(원)        0
PER(배)        0
영업이익률2        0
dtype: int64

In [87]:
# 변환 필요한 컬럼 확인 : object를 문자열 삭제 후 int 변환
df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)     object
세전계속사업이익       object
당기순이익          object
당기순이익(지배)      object
당기순이익(비지배)      int64
자산총계           object
부채총계           object
자본총계           object
자본총계(지배)       object
자본총계(비지배)     float64
자본금            object
영업활동현금흐름       object
투자활동현금흐름       object
재무활동현금흐름       object
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)         object
PER(배)        float64
영업이익률2        float64
dtype: object

In [88]:
# 바뀌어야 할 컬럼을 리스트에 저장
changes = ["영업이익(발표기준)", "세전계속사업이익", "당기순이익", "당기순이익(지배)", 
           "자산총계", "부채총계", "자본총계", "자본총계(지배)", "자본금", "영업활동현금흐름", "투자활동현금흐름", 
           "재무활동현금흐름", "EPS(원)" ]

In [89]:
# 반복문 및 사용자 설정 함수 사용
for i in changes:
  df[i] = column_cleaning(df[i])

In [90]:
# 데이터타입 확인
df.dtypes

분기             object
매출액             int64
영업이익            int64
영업이익(발표기준)      int64
세전계속사업이익        int64
당기순이익           int64
당기순이익(지배)       int64
당기순이익(비지배)      int64
자산총계            int64
부채총계            int64
자본총계            int64
자본총계(지배)        int64
자본총계(비지배)     float64
자본금             int64
영업활동현금흐름        int64
투자활동현금흐름        int64
재무활동현금흐름        int64
영업이익률         float64
순이익률          float64
ROE(%)        float64
ROA(%)        float64
부채비율          float64
자본유보율         float64
EPS(원)          int64
PER(배)        float64
영업이익률2        float64
dtype: object

In [91]:
df.describe()

                매출액         영업이익  ...     PER(배)     영업이익률2
count      5.000000     5.000000  ...   5.000000   5.000000
mean   12550.800000  3487.200000  ...  12.046000  27.676000
std      664.979097   636.931079  ...   1.898112   4.115651
min    11784.000000  2523.000000  ...   9.710000  21.060000
25%    11982.000000  3150.000000  ...  10.460000  26.730000
50%    12578.000000  3825.000000  ...  12.420000  28.930000
75%    13188.000000  3947.000000  ...  13.770000  29.930000
max    13222.000000  3991.000000  ...  13.870000  31.730000

[8 rows x 25 columns]

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [92]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['영업이익률2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['매출액'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [93]:
grade(df, df2)

4