<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [1]:
# 이곳에 답안을 작성합니다.
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')
df_iris.shape

res1 = df_iris.shape[0] / df_iris.shape[1]
res1

30.0

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [2]:
# 이곳에 답안을 작성합니다.
df_iris['x'] = df_iris[['sepal_length']]
df_iris = df_iris.drop(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'], axis = 1)
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 derivative_one이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [3]:
def num_one(x):
    return 20*(x**4) + 27*(x**2) + 2*(np.e)*x # 이곳에 답안을 작성해주시기 바랍니다

df_iris['derivative_one'] = df_iris['x'].apply(num_one)

res2 = df_iris['derivative_one'].sum()

res2

4077643.108045289

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 derivative_two 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [4]:
from scipy.misc import derivative
def f(x):
#     return None
    return 4*(x**5) + 9*(x**3) + np.e*(x**2) - 7

df_iris['derivative_two'] = derivative(f, df_iris['x'], dx = 1e-7)

res3 = df_iris['derivative_two'].sum()

res3

4077643.1205767947

In [5]:
df_iris

       x  derivative_one  derivative_two
0    5.1    14260.398475    14260.398502
1    4.9    12204.511162    12204.511186
2    4.7    10381.343849    10381.343873
3    4.6     9551.240193     9551.240219
4    5.0    13202.182818    13202.182863
..   ...             ...             ...
145  6.7    41550.696977    41550.697097
146  6.3    32611.802351    32611.802490
147  6.5    36877.337664    36877.337734
148  6.2    30624.258695    30624.258798
149  5.9    25206.667726    25206.667779

[150 rows x 3 columns]

## 2. 미분 연습
>아래의 함수들을 미분한 후에 **x = 5**일 때의 결과값을 `res4`, `res5`, `res6`, `res7`에 저장하세요.

 $f(x) = e^x$

In [14]:
# 이 곳에 답안을 작성하세요
import numpy as np

def e_prime(x):
    return np.exp(x)

e_prime(5)

148.4131591025766

$f(x) = lnx$

In [15]:
# 이 곳에 답안을 작성하세요
def ln_prime(x):
    return 1/x

ln_prime(5)

0.2

$f(x) = Sin(2x)$

In [16]:
# 이 곳에 답안을 작성하세요
def sine_prime(x):
    return 2*np.cos(2*x)

sine_prime(5)

-1.6781430581529049

$f(x) = (2x^2 + 8x)^2$

In [17]:
def f_prime(x):
    return 2*(2*x**2 + 8*x)*(4*x+8)

f_prime(5)

5040

## 3. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 == 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [10]:
# error function이 최소화 되는 점은 미분값(도함수의 값)이 0이 되는 점입니다.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + 50p_2 $

#### $p_2=3$ 일 때 최적의 $p_1$ 구하기

$$
\begin{aligned}
\frac{\partial \varepsilon}{\partial p_1} = 2(e \cdot p_1 - p_2) \cdot e &= 0 \\
2(e \cdot p_1 - 3) \cdot e &= 0 \\
(e \cdot p_1 - 3) &= 0 \\
\therefore p_1 = \frac{3}{e}
\end{aligned}
$$

#### $p_1=10$ 일 때 최적의 $p_2$ 구하기

$$
\begin{aligned}
\frac{\partial \varepsilon}{\partial p_2} = 2 \cdot (e \cdot p_1 - p_2) \cdot (-1) + 50 &= 0 \\
-2 \cdot (10e - p_2) + 50 &= 0 \\
2(10e - p_2) &= 50 \\
10e - p_2 &= 25 \\
\therefore p_2 = 10e - 25
\end{aligned}
$$

## Grading

이전 과제를 완료했다면, 아래의 코드를 실행하세요.

In [21]:
def grade(res1, res2, res3, res4, res5, p1, p2):
    score = 0

    score += (res1 == 30.0)
    score += (res2 == 4073693.108)
    score += (res3 == 4077643.121)
    score += (round(res4, 3) == 148.413)
    score += (round(res5, 1) == 0.2)
    score += (round(res6, 3) == -1.678)
    score += (res7 == 5040)
    
    score += (p1 == 3/exp(1))
    score += (p2 == 10*exp(1)-25)
  
    return(score)