<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# ğŸ“ Assignment
---

# Logistic Regression

ì´ë²ˆì—ëŠ” [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•´ ë´…ì‹œë‹¤. ë°ì´í„°ì— ëŒ€í•œ ì„¤ëª…ì„ ìºê¸€ í˜ì´ì§€ì—ì„œ ì˜ ì‚´í´ë³´ì‹œê³  ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš”!

### 1) ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬ í•˜ê² ìŠµë‹ˆë‹¤.
- ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.(read_csv ì‚¬ìš©)
- id ì¹¼ëŸ¼ì€ dropí•˜ì„¸ìš”.
- missing valueë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ì¤‘ë³µëœ ìƒ˜í”Œì´ ìˆëŠ”ì§€ í™•ì¸í•˜ì„¸ìš”.
- **ì¤‘ë³µëœ ìƒ˜í”Œì„ ì œê±°í•˜ê³  ë‚¨ì€ ìƒ˜í”Œì˜ ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [2]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [3]:
df.drop('id', axis = 1, inplace = True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.4 MB

In [5]:
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [6]:
df.drop(df.drop_duplicates().index)

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
10562  20495       1     165    70.0    120  ...     1      0     0       1       0
21784  16793       1     165    68.0    120  ...     1      0     0       1       0
38505  18988       1     164    65.0    120  ...     1      0     0       1       0
40365  14552       1     158    64.0    120  ...     1      0     0       1       0
42450  18353       1     169    67.0    120  ...     1      0     0       1       0
44653  16937       2     170    70.0    120  ...     1      0     0       0       0
45125  21280       1     165    65.0    120  ...     1      0     0       1       0
45748  22077       1     175    69.0    120  ...     1      0     0       1       1
45810  21230       1     164    62.0    120  ...     1      0     0       1       0
48917  21945       1     165    60.0    120  ...     1      0     0       1       0
50432  17493       2     169    74.0    120  ...     1      0     0       1       1
52552  21943       1     165    65.0    120  ...     1      0     0       1       1
56643  17535       2     165    65.0    120  ...     1      0     0       1       0
56906  20293       1     162    70.0    110  ...     1      0     0       1       0
57946  18955       1     165    75.0    120  ...     1      0     0       1       1
58730  19858       1     165    68.0    120  ...     1      0     0       1       0
60453  20516       1     164    66.0    120  ...     1      0     0       0       0
60474  16805       1     157    67.0    120  ...     1      0     0       1       0
62318  18979       1     165    65.0    120  ...     1      0     0       0       0
64169  16160       1     168    65.0    120  ...     1      0     0       1       1
65079  18210       1     160    60.0    120  ...     1      0     0       1       0
65622  21778       1     160    58.0    120  ...     1      0     0       1       0
66190  19059       1     165    65.0    120  ...     1      0     0       1       1
68281  21119       1     160    60.0    120  ...     1      0     0       0       1

[24 rows x 12 columns]

In [7]:
df.drop_duplicates(inplace = True)

In [8]:
len(df)

69976

### 2) ë‹¤ìš´ë¡œë“œ í•œ í›ˆë ¨ ë°ì´í„°ë¥¼ í›ˆë ¨/ê²€ì¦/í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ë¡œ ë‚˜ëˆ„ì–´ ì£¼ì„¸ìš”.
- íƒ€ê²Ÿ íŠ¹ì„±ì„ í™•ì¸í•˜ê³  íƒ€ê²Ÿ ë³€ìˆ˜ë¥¼ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤.
- í›ˆë ¨ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/test = 80/20, random_state=2)
- í›ˆë ¨ë°ì´í„°ë¥¼ í›ˆë ¨ê³¼ ê²€ì¦ë°ì´í„°ë¡œ ë‚˜ëˆ„ì–´ ì¤ë‹ˆë‹¤(train_test_split ì‚¬ìš©, train/validation = 80/20, random_state=2)
- **ê²€ì¦ ë°ì´í„°(X_val)ì˜ ê°¯ìˆ˜ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [9]:
# Feature	Variable Type	Variable	Value Type
# Age	Objective Feature	age	int (days)
# Height	Objective Feature	height	int (cm)
# Weight	Objective Feature	weight	float (kg)
# Gender	Objective Feature	gender	categorical code
# Systolic blood pressure	Examination Feature	ap_hi	int
# Diastolic blood pressure	Examination Feature	ap_lo	int
# Cholesterol	Examination Feature	cholesterol	1: normal, 2: above normal, 3: well above normal
# Glucose	Examination Feature	gluc	1: normal, 2: above normal, 3: well above normal
# Smoking	Subjective Feature	smoke	binary
# Alcohol intake	Subjective Feature	alco	binary
# Physical activity	Subjective Feature	active	binary
# Presence or absence of cardiovascular disease	Target Variable	cardio	binary

In [10]:
df.columns
# 1. age = ë‚˜ì´ -> int
# 2. gender = ì„±ë³„ -> 1, 2
# 3. height = í‚¤ -> int
# 4. weight = ëª¸ë¬´ê²Œ -> float
# 5. ap_hi = ìˆ˜ì¶•ê¸° í˜ˆì•• ê²€ì‚¬ -> int
# 6. ap_lo = ì´ì™„ê¸° í˜ˆì•• ê²€ì‚¬ -> int
# 7. cholesterol = ì½œë ˆìŠ¤í…Œë¡¤ ìˆ˜ì¹˜ ê²€ì‚¬ -> 1: normal, 2: above normal, 3: well above normal
# 8. gluc = í¬ë„ë‹¹ ìˆ˜ì¹˜ ê²€ì‚¬ -> 1: normal, 2: above normal, 3: well above normal
# 9. smoke = í¡ì—° ìœ ë¬´ -> 0, 1
# 10. alco = ìŒì£¼ ìœ ë¬´ -> 0, 1
# 11. active = ìš´ë™ ìœ ë¬´ -> 0, 1
# 12. cardio = ì‹¬í˜ˆê´€ ì§ˆí™˜ ìœ ë¬´ -> 0, 1
# targetì€ 12ë²ˆ. cardio ì‹¬í˜ˆê´€ ì§ˆí™˜ ìœ ë¬´

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [31]:
target = 'cardio'
y = df[target]
X = df.drop(target, axis = 1)

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)

In [33]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.20, random_state=2)

In [34]:
len(X_val)

11196

### 3) ì‚¬ì´í‚·ëŸ°ì˜ LogisticRegressionì„ ì‚¬ìš©í•´ ëª¨ë¸ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- ëª¨ë¸ì„ ë§Œë“¤ê¸° ì „ì— ê¸°ì¤€ëª¨ë¸ì„ ì„¤ì •í•©ë‹ˆë‹¤.
- **LogisticRegression ëª¨ë¸ì„ í•™ìŠµí•˜ê³ (max_iter=1000) ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [58]:
y_train.value_counts()

1    22468
0    22316
Name: cardio, dtype: int64

In [59]:
# mode(): Return the highest frequency value in a Series.
major = y_train.mode()[0]   # ê¸°ì¤€ ëª¨ë¸ 0

# íƒ€ê²Ÿ ìƒ˜í”Œ ìˆ˜ ë§Œí¼ 0ì´ ë‹´ê¸´ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“­ë‹ˆë‹¤. ê¸°ì¤€ëª¨ë¸ë¡œ ì˜ˆì¸¡
y_pred = [major] * len(y_train)

# ìµœë‹¤ í´ë˜ìŠ¤ì˜ ë¹ˆë„ê°€ ì •í™•ë„ê°€ ë©ë‹ˆë‹¤.
from sklearn.metrics import accuracy_score
print("training accuracy: ", accuracy_score(y_train, y_pred))

training accuracy:  0.501697034655234

In [60]:
from sklearn.linear_model import LogisticRegression

logistic = LogisticRegression(max_iter = 1000)
logistic.fit(X_train, y_train)

print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic.score(X_val, y_val))

ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ 0.7073061807788495

### 4) ë°ì´í„°ì—ì„œ ë²”ì£¼í˜• ì„±ì§ˆì„ ì§€ë‹Œ íŠ¹ì„±ì„ ì°¾ì•„ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- category_encodersë¥¼ ì‚¬ìš©í•´ì„œ 'gender' íŠ¹ì„±ë§Œ ì›í•«ì¸ì½”ë”© í•˜ì„¸ìš”.
- LogisticRegression ëª¨ë¸ì„ ë‹¤ì‹œ í•™ìŠµí•©ë‹ˆë‹¤.
- **ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [61]:
# !pip install category_encoders
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

feature = 'gender'
target = 'cardio'

encoder = OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train[feature])
X_val_encoded = encoder.transform(X_val[feature])
X_train_encoded.head(3)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

       gender
221         1
59211       2
26654       1

In [62]:
model = LogisticRegression(max_iter = 1000, random_state=2)
model.fit(X_train_encoded, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=2, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
y_pred = model.predict(X_val_encoded)
accuracy_score(y_val, y_pred)

0.504108610217935

In [68]:
# float ë³€ìˆ˜ë“¤ í‘œì¤€í™” í›„ íŠ¸ë ˆì´ë‹
features = ['height', 'weight', 'ap_hi', 'ap_lo']

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train[features])
X_val_scaled = scaler.transform(X_val[features])

logistic = LogisticRegression(max_iter = 1000)
logistic.fit(X_train_scaled, y_train)

print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic.score(X_val_scaled, y_val))

y_pred = model.predict(X_val_scaled)
accuracy_score(y_val, y_pred)

ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ 0.7068595927116827

ValueError: ignored

### 5) í•™ìŠµí•œ ëª¨ë¸ì„ ê²€ì¦ì„¸íŠ¸ì—ì„œ ìµœì í™” ì‹œí‚¨ í›„, í…ŒìŠ¤íŠ¸ì„¸íŠ¸ì—ì„œ ë”± í•œ ë²ˆ ì •í™•ë„ë¥¼ í™•ì¸í•´ ë³´ì„¸ìš”.
- **í…ŒìŠ¤íŠ¸ ì„¸íŠ¸ ì •í™•ë„ë¥¼ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.(0.712 ì´ìƒ)**

In [53]:
print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic.score(X_test, y_test))

ê²€ì¦ì„¸íŠ¸ ì •í™•ë„ 0.7111317519291226

In [67]:
print('ê²€ì¦ì„¸íŠ¸ ì •í™•ë„', logistic.score(X_test, y_test))

ValueError: ignored

## ğŸ”¥ ë„ì „ê³¼ì œ:

### 6) EDAë¥¼ ì¶”ê°€ì ìœ¼ë¡œ ìˆ˜í–‰í•˜ê³  ê°€ëŠ¥í•œ ë°©ë²•ìœ¼ë¡œ ëª¨ë¸ì„ íŠœë‹í•´ì„œ ê²°ê³¼ë¥¼ ë§Œë“¤ì–´ ë³´ì„¸ìš”. ìµœì†Œí•œ ë‹¤ìŒ ë‚´ìš©ë“¤ì´ í¬í•¨ì´ ë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
- ìƒˆë¡œìš´ íŠ¹ì„±ì„ ìµœì†Œí•œ í•œ ê°œ ì´ìƒ ë§Œë“œì„¸ìš”.
- íŠ¹ì„±ë“¤ì„ í™•ì¸í•´ì„œ ì•„ì›ƒë¼ì´ì–´ë¼ê³  ìƒê°ë˜ëŠ” ë°ì´í„°ë¥¼ ê°€ì§„ ìƒ˜í”Œì„ ì œê±°í•˜ì„¸ìš”.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ì„ ì‚¬ìš©í•˜ì„¸ìš”. (ì—¬ëŸ¬ê°€ì§€ ì¢…ë¥˜ì˜ Scalarë¥¼ ì–´ë–¤ ìƒí™©ì— ì ìš©í•´ì•¼ í•˜ëŠ”ì§€ ì•Œì•„ë³´ê³  ì‚¬ìš©í•´ ë³´ì„¸ìš”.)
- ë§Œë“¤ì–´ì§„ ëª¨ë¸ ì„±ëŠ¥ì„ ë¦¬í¬íŒ…í•˜ê³  í•´ì„í•©ë‹ˆë‹¤.