<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# 📝 Assignment
---

# Logistic Regression

이번에는 [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) 데이터셋을 사용해 봅시다. 데이터에 대한 설명을 캐글 페이지에서 잘 살펴보시고 과제를 진행해 주세요!

### 1) 데이터를 전처리 하겠습니다.
- 데이터를 불러오세요.(read_csv 사용)
- id 칼럼은 drop하세요.
- missing value를 확인하세요.
- 중복된 샘플이 있는지 확인하세요.
- **중복된 샘플을 제거하고 남은 샘플의 수를 과제 제출폼에 제출하세요.**

In [2]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [3]:
df.drop('id', axis = 1, inplace = True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.4 MB

In [5]:
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [6]:
df.drop(df.drop_duplicates().index)

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
10562  20495       1     165    70.0    120  ...     1      0     0       1       0
21784  16793       1     165    68.0    120  ...     1      0     0       1       0
38505  18988       1     164    65.0    120  ...     1      0     0       1       0
40365  14552       1     158    64.0    120  ...     1      0     0       1       0
42450  18353       1     169    67.0    120  ...     1      0     0       1       0
44653  16937       2     170    70.0    120  ...     1      0     0       0       0
45125  21280       1     165    65.0    120  ...     1      0     0       1       0
45748  22077       1     175    69.0    120  ...     1      0     0       1       1
45810  21230       1     164    62.0    120  ...     1      0     0       1       0
48917  21945       1     165    60.0    120  ...     1      0     0       1       0
50432  17493       2     169    74.0    120  ...     1      0     0       1       1
52552  21943       1     165    65.0    120  ...     1      0     0       1       1
56643  17535       2     165    65.0    120  ...     1      0     0       1       0
56906  20293       1     162    70.0    110  ...     1      0     0       1       0
57946  18955       1     165    75.0    120  ...     1      0     0       1       1
58730  19858       1     165    68.0    120  ...     1      0     0       1       0
60453  20516       1     164    66.0    120  ...     1      0     0       0       0
60474  16805       1     157    67.0    120  ...     1      0     0       1       0
62318  18979       1     165    65.0    120  ...     1      0     0       0       0
64169  16160       1     168    65.0    120  ...     1      0     0       1       1
65079  18210       1     160    60.0    120  ...     1      0     0       1       0
65622  21778       1     160    58.0    120  ...     1      0     0       1       0
66190  19059       1     165    65.0    120  ...     1      0     0       1       1
68281  21119       1     160    60.0    120  ...     1      0     0       0       1

[24 rows x 12 columns]

In [7]:
df.drop_duplicates(inplace = True)

In [8]:
len(df)

69976

### 2) 다운로드 한 훈련 데이터를 훈련/검증/테스트 세트로 나누어 주세요.
- 타겟 특성을 확인하고 타겟 변수를 나누어 줍니다.
- 훈련과 테스트 데이터로 나누어 줍니다(train_test_split 사용, train/test = 80/20, random_state=2)
- 훈련데이터를 훈련과 검증데이터로 나누어 줍니다(train_test_split 사용, train/validation = 80/20, random_state=2)
- **검증 데이터(X_val)의 갯수를 과제 제출폼에 제출하세요.**

In [9]:
# Feature	Variable Type	Variable	Value Type
# Age	Objective Feature	age	int (days)
# Height	Objective Feature	height	int (cm)
# Weight	Objective Feature	weight	float (kg)
# Gender	Objective Feature	gender	categorical code
# Systolic blood pressure	Examination Feature	ap_hi	int
# Diastolic blood pressure	Examination Feature	ap_lo	int
# Cholesterol	Examination Feature	cholesterol	1: normal, 2: above normal, 3: well above normal
# Glucose	Examination Feature	gluc	1: normal, 2: above normal, 3: well above normal
# Smoking	Subjective Feature	smoke	binary
# Alcohol intake	Subjective Feature	alco	binary
# Physical activity	Subjective Feature	active	binary
# Presence or absence of cardiovascular disease	Target Variable	cardio	binary

In [10]:
df.columns
# 1. age = 나이 -> int
# 2. gender = 성별 -> 1, 2
# 3. height = 키 -> int
# 4. weight = 몸무게 -> float
# 5. ap_hi = 수축기 혈압 검사 -> int
# 6. ap_lo = 이완기 혈압 검사 -> int
# 7. cholesterol = 콜레스테롤 수치 검사 -> 1: normal, 2: above normal, 3: well above normal
# 8. gluc = 포도당 수치 검사 -> 1: normal, 2: above normal, 3: well above normal
# 9. smoke = 흡연 유무 -> 0, 1
# 10. alco = 음주 유무 -> 0, 1
# 11. active = 운동 유무 -> 0, 1
# 12. cardio = 심혈관 질환 유무 -> 0, 1
# target은 12번. cardio 심혈관 질환 유무

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [31]:
target = 'cardio'
y = df[target]
X = df.drop(target, axis = 1)

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)

In [33]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.20, random_state=2)

In [34]:
len(X_val)

11196

### 3) 사이킷런의 LogisticRegression을 사용해 모델을 만들어 보세요.
- 모델을 만들기 전에 기준모델을 설정합니다.
- **LogisticRegression 모델을 학습하고(max_iter=1000) 검증세트 정확도를 과제 제출폼에 제출하세요.**

In [58]:
y_train.value_counts()

1    22468
0    22316
Name: cardio, dtype: int64

In [59]:
# mode(): Return the highest frequency value in a Series.
major = y_train.mode()[0]   # 기준 모델 0

# 타겟 샘플 수 만큼 0이 담긴 리스트를 만듭니다. 기준모델로 예측
y_pred = [major] * len(y_train)

# 최다 클래스의 빈도가 정확도가 됩니다.
from sklearn.metrics import accuracy_score
print("training accuracy: ", accuracy_score(y_train, y_pred))

training accuracy:  0.501697034655234

In [60]:
from sklearn.linear_model import LogisticRegression

logistic = LogisticRegression(max_iter = 1000)
logistic.fit(X_train, y_train)

print('검증세트 정확도', logistic.score(X_val, y_val))

검증세트 정확도 0.7073061807788495

### 4) 데이터에서 범주형 성질을 지닌 특성을 찾아 원핫인코딩 하세요.
- category_encoders를 사용해서 'gender' 특성만 원핫인코딩 하세요.
- LogisticRegression 모델을 다시 학습합니다.
- **검증세트 정확도를 과제 제출폼에 제출하세요.**

In [61]:
# !pip install category_encoders
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

feature = 'gender'
target = 'cardio'

encoder = OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train[feature])
X_val_encoded = encoder.transform(X_val[feature])
X_train_encoded.head(3)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

       gender
221         1
59211       2
26654       1

In [62]:
model = LogisticRegression(max_iter = 1000, random_state=2)
model.fit(X_train_encoded, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=2, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
y_pred = model.predict(X_val_encoded)
accuracy_score(y_val, y_pred)

0.504108610217935

In [68]:
# float 변수들 표준화 후 트레이닝
features = ['height', 'weight', 'ap_hi', 'ap_lo']

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train[features])
X_val_scaled = scaler.transform(X_val[features])

logistic = LogisticRegression(max_iter = 1000)
logistic.fit(X_train_scaled, y_train)

print('검증세트 정확도', logistic.score(X_val_scaled, y_val))

y_pred = model.predict(X_val_scaled)
accuracy_score(y_val, y_pred)

검증세트 정확도 0.7068595927116827

ValueError: ignored

### 5) 학습한 모델을 검증세트에서 최적화 시킨 후, 테스트세트에서 딱 한 번 정확도를 확인해 보세요.
- **테스트 세트 정확도를 과제 제출폼에 제출하세요.(0.712 이상)**

In [53]:
print('검증세트 정확도', logistic.score(X_test, y_test))

검증세트 정확도 0.7111317519291226

In [67]:
print('검증세트 정확도', logistic.score(X_test, y_test))

ValueError: ignored

## 🔥 도전과제:

### 6) EDA를 추가적으로 수행하고 가능한 방법으로 모델을 튜닝해서 결과를 만들어 보세요. 최소한 다음 내용들이 포함이 되어야 합니다.
- 새로운 특성을 최소한 한 개 이상 만드세요.
- 특성들을 확인해서 아웃라이어라고 생각되는 데이터를 가진 샘플을 제거하세요.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) 을 사용하세요. (여러가지 종류의 Scalar를 어떤 상황에 적용해야 하는지 알아보고 사용해 보세요.)
- 만들어진 모델 성능을 리포팅하고 해석합니다.