<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 4*

# üìù Assignment
---

# Logistic Regression

Ïù¥Î≤àÏóêÎäî [**Cardiovascular Disease dataset**](https://www.kaggle.com/sulianova/cardiovascular-disease-dataset) Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ ÏÇ¨Ïö©Ìï¥ Î¥ÖÏãúÎã§. Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∫êÍ∏Ä ÌéòÏù¥ÏßÄÏóêÏÑú Ïûò ÏÇ¥Ìé¥Î≥¥ÏãúÍ≥† Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî!

### 1) Îç∞Ïù¥ÌÑ∞Î•º Ï†ÑÏ≤òÎ¶¨ ÌïòÍ≤†ÏäµÎãàÎã§.
- Îç∞Ïù¥ÌÑ∞Î•º Î∂àÎü¨Ïò§ÏÑ∏Ïöî.(read_csv ÏÇ¨Ïö©)
- id ÏπºÎüºÏùÄ dropÌïòÏÑ∏Ïöî.
- missing valueÎ•º ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- Ï§ëÎ≥µÎêú ÏÉòÌîåÏù¥ ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÏÑ∏Ïöî.
- **Ï§ëÎ≥µÎêú ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÍ≥† ÎÇ®ÏùÄ ÏÉòÌîåÏùò ÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [92]:
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/cardio/cardio_train.csv', sep=';')

In [93]:
df.drop('id', axis = 1, inplace = True)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          70000 non-null  int64
 1   gender       70000 non-null  int64
 2   height       70000 non-null  int64
 3   weight       70000 non-null  float64
 4   ap_hi        70000 non-null  int64
 5   ap_lo        70000 non-null  int64
 6   cholesterol  70000 non-null  int64
 7   gluc         70000 non-null  int64
 8   smoke        70000 non-null  int64
 9   alco         70000 non-null  int64
 10  active       70000 non-null  int64
 11  cardio       70000 non-null  int64
dtypes: float64(1), int64(11)
memory usage: 6.4 MB

In [95]:
df.isnull().sum()

age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [96]:
df.drop(df.drop_duplicates().index)

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
10562  20495       1     165    70.0    120  ...     1      0     0       1       0
21784  16793       1     165    68.0    120  ...     1      0     0       1       0
38505  18988       1     164    65.0    120  ...     1      0     0       1       0
40365  14552       1     158    64.0    120  ...     1      0     0       1       0
42450  18353       1     169    67.0    120  ...     1      0     0       1       0
44653  16937       2     170    70.0    120  ...     1      0     0       0       0
45125  21280       1     165    65.0    120  ...     1      0     0       1       0
45748  22077       1     175    69.0    120  ...     1      0     0       1       1
45810  21230       1     164    62.0    120  ...     1      0     0       1       0
48917  21945       1     165    60.0    120  ...     1      0     0       1       0
50432  17493       2     169    74.0    120  ...     1      0     0       1       1
52552  21943       1     165    65.0    120  ...     1      0     0       1       1
56643  17535       2     165    65.0    120  ...     1      0     0       1       0
56906  20293       1     162    70.0    110  ...     1      0     0       1       0
57946  18955       1     165    75.0    120  ...     1      0     0       1       1
58730  19858       1     165    68.0    120  ...     1      0     0       1       0
60453  20516       1     164    66.0    120  ...     1      0     0       0       0
60474  16805       1     157    67.0    120  ...     1      0     0       1       0
62318  18979       1     165    65.0    120  ...     1      0     0       0       0
64169  16160       1     168    65.0    120  ...     1      0     0       1       1
65079  18210       1     160    60.0    120  ...     1      0     0       1       0
65622  21778       1     160    58.0    120  ...     1      0     0       1       0
66190  19059       1     165    65.0    120  ...     1      0     0       1       1
68281  21119       1     160    60.0    120  ...     1      0     0       0       1

[24 rows x 12 columns]

In [97]:
df.drop_duplicates(inplace = True)

In [98]:
len(df)

69976

### 2) Îã§Ïö¥Î°úÎìú Ìïú ÌõàÎ†® Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®/Í≤ÄÏ¶ù/ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Î°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî.
- ÌÉÄÍ≤ü ÌäπÏÑ±ÏùÑ ÌôïÏù∏ÌïòÍ≥† ÌÉÄÍ≤ü Î≥ÄÏàòÎ•º ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§.
- ÌõàÎ†®Í≥º ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/test = 80/20, random_state=2)
- ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Î•º ÌõàÎ†®Í≥º Í≤ÄÏ¶ùÎç∞Ïù¥ÌÑ∞Î°ú ÎÇòÎàÑÏñ¥ Ï§çÎãàÎã§(train_test_split ÏÇ¨Ïö©, train/validation = 80/20, random_state=2)
- **Í≤ÄÏ¶ù Îç∞Ïù¥ÌÑ∞(X_val)Ïùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [99]:
# Feature	Variable Type	Variable	Value Type
# Age	Objective Feature	age	int (days)
# Height	Objective Feature	height	int (cm)
# Weight	Objective Feature	weight	float (kg)
# Gender	Objective Feature	gender	categorical code
# Systolic blood pressure	Examination Feature	ap_hi	int
# Diastolic blood pressure	Examination Feature	ap_lo	int
# Cholesterol	Examination Feature	cholesterol	1: normal, 2: above normal, 3: well above normal
# Glucose	Examination Feature	gluc	1: normal, 2: above normal, 3: well above normal
# Smoking	Subjective Feature	smoke	binary
# Alcohol intake	Subjective Feature	alco	binary
# Physical activity	Subjective Feature	active	binary
# Presence or absence of cardiovascular disease	Target Variable	cardio	binary

In [100]:
df.columns
# 1. age = ÎÇòÏù¥ -> int
# 2. gender = ÏÑ±Î≥Ñ -> 1, 2
# 3. height = ÌÇ§ -> int
# 4. weight = Î™∏Î¨¥Í≤å -> float
# 5. ap_hi = ÏàòÏ∂ïÍ∏∞ ÌòàÏïï Í≤ÄÏÇ¨ -> int
# 6. ap_lo = Ïù¥ÏôÑÍ∏∞ ÌòàÏïï Í≤ÄÏÇ¨ -> int
# 7. cholesterol = ÏΩúÎ†àÏä§ÌÖåÎ°§ ÏàòÏπò Í≤ÄÏÇ¨ -> 1: normal, 2: above normal, 3: well above normal
# 8. gluc = Ìè¨ÎèÑÎãπ ÏàòÏπò Í≤ÄÏÇ¨ -> 1: normal, 2: above normal, 3: well above normal
# 9. smoke = Ìù°Ïó∞ Ïú†Î¨¥ -> 0, 1
# 10. alco = ÏùåÏ£º Ïú†Î¨¥ -> 0, 1
# 11. active = Ïö¥Îèô Ïú†Î¨¥ -> 0, 1
# 12. cardio = Ïã¨ÌòàÍ¥Ä ÏßàÌôò Ïú†Î¨¥ -> 0, 1
# targetÏùÄ 12Î≤à. cardio Ïã¨ÌòàÍ¥Ä ÏßàÌôò Ïú†Î¨¥

Index(['age', 'gender', 'height', 'weight', 'ap_hi', 'ap_lo', 'cholesterol',
       'gluc', 'smoke', 'alco', 'active', 'cardio'],
      dtype='object')

In [101]:
target = 'cardio'
y = df[target]
X = df.drop(target, axis = 1)

In [102]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=2)

In [103]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.20, random_state=2)

In [104]:
len(X_val)

11196

### 3) ÏÇ¨Ïù¥ÌÇ∑Îü∞Ïùò LogisticRegressionÏùÑ ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî.
- Î™®Îç∏ÏùÑ ÎßåÎì§Í∏∞ Ï†ÑÏóê Í∏∞Ï§ÄÎ™®Îç∏ÏùÑ ÏÑ§Ï†ïÌï©ÎãàÎã§.
- **LogisticRegression Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥†(max_iter=1000) Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [105]:
y_train.value_counts()

1    22468
0    22316
Name: cardio, dtype: int64

In [106]:
# mode(): Return the highest frequency value in a Series.
major = y_train.mode()[0]   # Í∏∞Ï§Ä Î™®Îç∏ 0

# ÌÉÄÍ≤ü ÏÉòÌîå Ïàò ÎßåÌÅº 0Ïù¥ Îã¥Í∏¥ Î¶¨Ïä§Ìä∏Î•º ÎßåÎì≠ÎãàÎã§. Í∏∞Ï§ÄÎ™®Îç∏Î°ú ÏòàÏ∏°
y_pred = [major] * len(y_train)

# ÏµúÎã§ ÌÅ¥ÎûòÏä§Ïùò ÎπàÎèÑÍ∞Ä Ï†ïÌôïÎèÑÍ∞Ä Îê©ÎãàÎã§.
from sklearn.metrics import accuracy_score
print("training accuracy: ", accuracy_score(y_train, y_pred))

training accuracy:  0.501697034655234

In [107]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter = 1000)
model.fit(X_train, y_train)

print('Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ', model.score(X_val, y_val))

Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ 0.7073061807788495

### 4) Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Î≤îÏ£ºÌòï ÏÑ±ÏßàÏùÑ ÏßÄÎãå ÌäπÏÑ±ÏùÑ Ï∞æÏïÑ ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- category_encodersÎ•º ÏÇ¨Ïö©Ìï¥ÏÑú 'gender' ÌäπÏÑ±Îßå ÏõêÌï´Ïù∏ÏΩîÎî© ÌïòÏÑ∏Ïöî.
- LogisticRegression Î™®Îç∏ÏùÑ Îã§Ïãú ÌïôÏäµÌï©ÎãàÎã§.
- **Í≤ÄÏ¶ùÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [108]:
# !pip install category_encoders
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

feature = 'gender'
target = 'cardio'

X_train[feature][X_train[feature] == 1] = 'Male'
X_train[feature][X_train[feature] == 2] = 'Female'
X_val[feature][X_val[feature] == 1] = 'Male'
X_val[feature][X_val[feature] == 2] = 'Female'
X_test[feature][X_test[feature] == 1] = 'Male'
X_test[feature][X_test[feature] == 2] = 'Female'

encoder = OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train[feature])
X_val_encoded = encoder.transform(X_val[feature])
X_test_encoded = encoder.transform(X_test[feature])
# Ï≤´ Î≤àÏß∏ Ïó¥ drop
X_train_encoded.drop(X_train_encoded.columns[0], axis = 1, inplace = True)
X_val_encoded.drop(X_val_encoded.columns[0], axis = 1, inplace = True)
X_test_encoded.drop(X_test_encoded.columns[0], axis = 1, inplace = True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1021: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [109]:
# female = 1, male = 0
X_train

         age  gender  height  weight  ...  gluc  smoke  alco  active
221    17591    Male     157    70.0  ...     1      0     0       0
59211  19677  Female     174    80.0  ...     1      0     0       1
26654  23504    Male     158    76.0  ...     3      0     0       1
33421  18036  Female     173   128.0  ...     1      0     1       0
12046  20225  Female     176   109.0  ...     1      1     1       1
...      ...     ...     ...     ...  ...   ...    ...   ...     ...
5863   20944    Male     163    64.0  ...     1      0     0       1
22253  22673    Male     141    70.0  ...     1      0     0       1
33006  22418    Male     150    46.0  ...     2      0     0       1
31408  23272  Female     167    77.0  ...     1      0     0       1
49770  18218  Female     162    70.0  ...     3      0     0       0

[44784 rows x 11 columns]

In [110]:
X_train['gender'] = X_train_encoded
X_val['gender'] = X_val_encoded
X_test['gender'] = X_test_encoded

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [111]:
X_train

         age  gender  height  weight  ...  gluc  smoke  alco  active
221    17591       0     157    70.0  ...     1      0     0       0
59211  19677       1     174    80.0  ...     1      0     0       1
26654  23504       0     158    76.0  ...     3      0     0       1
33421  18036       1     173   128.0  ...     1      0     1       0
12046  20225       1     176   109.0  ...     1      1     1       1
...      ...     ...     ...     ...  ...   ...    ...   ...     ...
5863   20944       0     163    64.0  ...     1      0     0       1
22253  22673       0     141    70.0  ...     1      0     0       1
33006  22418       0     150    46.0  ...     2      0     0       1
31408  23272       1     167    77.0  ...     1      0     0       1
49770  18218       1     162    70.0  ...     3      0     0       0

[44784 rows x 11 columns]

In [112]:
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [113]:
y_pred = model.predict(X_val)
accuracy_score(y_val, y_pred)

0.6943551268310111

### 5) ÌïôÏäµÌïú Î™®Îç∏ÏùÑ Í≤ÄÏ¶ùÏÑ∏Ìä∏ÏóêÏÑú ÏµúÏ†ÅÌôî ÏãúÌÇ® ÌõÑ, ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ÏóêÏÑú Îî± Ìïú Î≤à Ï†ïÌôïÎèÑÎ•º ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.(0.712 Ïù¥ÏÉÅ)**

In [114]:
# age, heigth, weight, ap_hi, ap_lo Ï†ïÍ∑úÌôî
from sklearn.preprocessing import StandardScaler

features = ['age', 'height', 'weight', 'ap_hi', 'ap_lo']

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train[features])
X_val_scaled = scaler.transform(X_val[features])
X_test_scaled = scaler.transform(X_test[features])

X_train[features] = X_train_scaled
X_val[features] = X_val_scaled
X_test[features] = X_test_scaled

from sklearn.linear_model import LogisticRegression

model.fit(X_train, y_train)

y_pred = model.predict(X_val)
accuracy_score(y_val, y_pred)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

0.723383351196856

In [115]:
y_pred = model.predict(X_val)
accuracy_score(y_val, y_pred)

0.723383351196856

In [116]:
y_pred = model.predict(X_test)
print('ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ', accuracy_score(y_test, y_pred))

ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏ Ï†ïÌôïÎèÑ 0.7264218348099457

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú:

### 6) EDAÎ•º Ï∂îÍ∞ÄÏ†ÅÏúºÎ°ú ÏàòÌñâÌïòÍ≥† Í∞ÄÎä•Ìïú Î∞©Î≤ïÏúºÎ°ú Î™®Îç∏ÏùÑ ÌäúÎãùÌï¥ÏÑú Í≤∞Í≥ºÎ•º ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî. ÏµúÏÜåÌïú Îã§Ïùå ÎÇ¥Ïö©Îì§Ïù¥ Ìè¨Ìï®Ïù¥ ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.
- ÏÉàÎ°úÏö¥ ÌäπÏÑ±ÏùÑ ÏµúÏÜåÌïú Ìïú Í∞ú Ïù¥ÏÉÅ ÎßåÎìúÏÑ∏Ïöî.
- ÌäπÏÑ±Îì§ÏùÑ ÌôïÏù∏Ìï¥ÏÑú ÏïÑÏõÉÎùºÏù¥Ïñ¥ÎùºÍ≥† ÏÉùÍ∞ÅÎêòÎäî Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏßÑ ÏÉòÌîåÏùÑ Ï†úÍ±∞ÌïòÏÑ∏Ïöî.
- [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html) ÏùÑ ÏÇ¨Ïö©ÌïòÏÑ∏Ïöî. (Ïó¨Îü¨Í∞ÄÏßÄ Ï¢ÖÎ•òÏùò ScalarÎ•º Ïñ¥Îñ§ ÏÉÅÌô©Ïóê Ï†ÅÏö©Ìï¥Ïïº ÌïòÎäîÏßÄ ÏïåÏïÑÎ≥¥Í≥† ÏÇ¨Ïö©Ìï¥ Î≥¥ÏÑ∏Ïöî.)
- ÎßåÎì§Ïñ¥ÏßÑ Î™®Îç∏ ÏÑ±Îä•ÏùÑ Î¶¨Ìè¨ÌåÖÌïòÍ≥† Ìï¥ÏÑùÌï©ÎãàÎã§.