<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

## 1. 1-Sample T-tests ì—°ìŠµ

### ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
- [ì„œìš¸ì‹œ ê°€ë¡œìˆ˜ ë°ì´í„°ì…‹](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [2]:
# íŒŒì¼ì„ ì—…ë¡œë“œ í•˜ëŠ” ê³¼ì •ì€ ìƒëµí•©ë‹ˆë‹¤.
import pandas as pd

df = pd.read_csv('./report.txt', delimiter = "\t", skiprows=1)
df.head()

,ê¸°ê°„,ìì¹˜êµ¬,ë…¸ì„ ìˆ˜,ìˆ˜ëŸ‰,ì€í–‰ë‚˜ë¬´,ì–‘ë²„ì¦˜ë‚˜ë¬´,ëŠí‹°ë‚˜ë¬´,ì™•ë²šë‚˜ë¬´,ì€ë‹¨í’ë‚˜ë¬´,ë©”íƒ€ì„¸ì½°ì´ì–´,...,íŠœìš¸ë¦½ë‚˜ë¬´,ì¹ ì—½ìˆ˜,í¬í”ŒëŸ¬,ëŠë¦…ë‚˜ë¬´,ì‚´êµ¬ë‚˜ë¬´,ë¬´ê¶í™”,ì†Œë‚˜ë¬´,ëª©ë ¨,ì´íŒë‚˜ë¬´,ê¸°íƒ€
0,2019,ì„œìš¸ì‹œ,"1,412","307,351","108,050","62,474","37,473","34,150",545,"5,171",...,948,"1,533",7,504,234,"2,374","4,539",378,"20,088","20,112"
1,2019,ì¢…ë¡œêµ¬,70,"7,329","4,072","1,071",619,421,-,1,...,-,17,-,-,-,-,239,-,711,29
2,2019,ì¤‘êµ¬,48,"8,250","3,640",162,460,289,-,-,...,7,-,-,-,21,46,"2,162",-,470,817
3,2019,ìš©ì‚°êµ¬,39,"7,835","4,444","1,422",373,262,-,-,...,13,16,-,-,39,-,51,126,198,780
4,2019,ì„±ë™êµ¬,38,"8,120","1,090","2,401","1,975",602,29,48,...,-,1,3,59,-,-,53,-,709,646

### "ì„œìš¸ì‹œì—ëŠ” êµ¬ë³„ë¡œ í‰ê· ì ìœ¼ë¡œ ì•½ 400 ê·¸ë£¨ ì •ë„ì˜ `ì´íŒë‚˜ë¬´`ê°€ ìˆë‹¤" ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalue ê°’ì„ `pv1`ì— ì €ì¥í•˜ì„¸ìš”. (`.pvalue` ì‚¬ìš©)

In [7]:
pd.concat([df['ìì¹˜êµ¬'], df['ì´íŒë‚˜ë¬´']], axis=1)

        ìì¹˜êµ¬    ì´íŒë‚˜ë¬´
0       ì„œìš¸ì‹œ  20,088
1       ì¢…ë¡œêµ¬     711
2        ì¤‘êµ¬     470
3       ìš©ì‚°êµ¬     198
4       ì„±ë™êµ¬     709
5       ê´‘ì§„êµ¬     760
6      ë™ëŒ€ë¬¸êµ¬   1,176
7       ì¤‘ë‘êµ¬     449
8       ì„±ë¶êµ¬     853
9       ê°•ë¶êµ¬     575
10      ë„ë´‰êµ¬      47
11      ë…¸ì›êµ¬     142
12      ì€í‰êµ¬     443
13     ì„œëŒ€ë¬¸êµ¬     493
14      ë§ˆí¬êµ¬   1,280
15      ì–‘ì²œêµ¬     784
16      ê°•ì„œêµ¬   1,426
17      êµ¬ë¡œêµ¬   1,082
18      ê¸ˆì²œêµ¬     184
19     ì˜ë“±í¬êµ¬   1,281
20      ë™ì‘êµ¬     397
21      ê´€ì•…êµ¬     249
22      ì„œì´ˆêµ¬     446
23      ê°•ë‚¨êµ¬     768
24      ì†¡íŒŒêµ¬   1,651
25      ê°•ë™êµ¬     642
26  ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ       4
27   ì‹œì„¤ê´€ë¦¬ê³µë‹¨   2,868

In [8]:
snow_flower = df['ì´íŒë‚˜ë¬´'][~df['ìì¹˜êµ¬'].isin(['ì„œìš¸ì‹œ','ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ','ì‹œì„¤ê´€ë¦¬ê³µë‹¨'])]
snow_flower = pd.to_numeric(snow_flower.str.replace(',',''))

print(snow_flower.head(), snow_flower.tail(), snow_flower.shape, sep='\n')

1    711
2    470
3    198
4    709
5    760
Name: ì´íŒë‚˜ë¬´, dtype: int64
21     249
22     446
23     768
24    1651
25     642
Name: ì´íŒë‚˜ë¬´, dtype: int64
(25,)

In [9]:
import numpy as np

np.mean(snow_flower)

688.64

In [10]:
from scipy import stats

stats1, pv1 = stats.ttest_1samp(snow_flower, 400)
pv1

0.002470712850935819

### ì´ë²ˆì—ëŠ” 10ê°œì˜ êµ¬ë¥¼ ìƒ˜í”Œë§í•˜ì—¬, ìœ„ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ë‹¤ì‹œ í•œë²ˆ ì‹œí–‰í•´ë³´ì„¸ìš”.

- ë‹¨, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì°¸ì¡°í•˜ì—¬ sampleì„ ìœ„í•œ seed ëŠ” 123ë¡œ ì„¤ì •í•˜ì„¸ìš”.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueê°’ì„ `pv2`ì— ì €ì¥í•˜ì„¸ìš”

In [11]:
import numpy as np

np.random.seed(123)

chosen = np.random.choice(snow_flower,size=10)

np.mean(chosen)

479.7

In [12]:
stats2, pv2 = stats.ttest_1samp(chosen, 400)

pv2

0.49772576203804575

## 2. 2-Sample T-tests ì—°ìŠµ

### "ì„œìš¸ì‹œì˜ êµ¬ë³„ í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ì™€ ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ëŠ” ì°¨ì´ê°€ ì—†ë‹¤" ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•´ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.

- ë‹¨, `ì„œìš¸ì‹œ`, `ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ`, `ì‹œì„¤ê´€ë¦¬ê³µë‹¨` ë¶€ë¶„ì˜ ë°ì´í„°ëŠ” ì œì™¸í•©ë‹ˆë‹¤.
- ê°€ì„¤ê²€ì • ê²°ê³¼ì˜ pvalueë¥¼ `pv3`ì— ì €ì¥í•˜ì„¸ìš”

In [13]:
zelkova = df['ëŠí‹°ë‚˜ë¬´'][~df['ìì¹˜êµ¬'].isin(['ì„œìš¸ì‹œ','ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ','ì‹œì„¤ê´€ë¦¬ê³µë‹¨'])]
zelkova = pd.to_numeric(zelkova.str.replace(','or' ',''))

cherry = df['ì™•ë²šë‚˜ë¬´'][~df['ìì¹˜êµ¬'].isin(['ì„œìš¸ì‹œ','ê³µì›ë…¹ì§€ì‚¬ì—…ì†Œ','ì‹œì„¤ê´€ë¦¬ê³µë‹¨'])]
cherry = pd.to_numeric(cherry.str.replace(',',''))

pd.concat([zelkova, cherry], axis=1)

    ëŠí‹°ë‚˜ë¬´  ì™•ë²šë‚˜ë¬´
1    619   421
2    460   289
3    373   262
4   1975   602
5   1057   940
6    855   747
7    471   354
8   1014  1656
9    324   497
10   779  2095
11  1165  1612
12   680  1748
13   721   732
14  3056  1096
15  1065   956
16  2231  2508
17  1884  2157
18   407  1123
19  3419  2952
20  1421  1127
21   185  2416
22  3409   254
23  2991  2455
24  2400   992
25  2417  2309

In [14]:
stats3, pv3 = stats.ttest_ind(zelkova, cherry)
stats3, pv3

(0.4629256014492562, 0.6455096880085703)

### Two-sample One-tailed testë¥¼ ì‚¬ìš©í•˜ì—¬ **í‰ê·  ëŠí‹°ë‚˜ë¬´ìˆ˜ê°€ ì™•ë²šë‚˜ë¬´ ìˆ˜ë³´ë‹¤ í¬ë‹¤**ë¼ëŠ” ê°€ì„¤ì— ëŒ€í•œ ê°€ì„¤ê²€ì •ì„ ì‹œí–‰í•˜ì„¸ìš”.
- í•´ë‹¹ ê°€ì„¤ê²€ì •ì˜ ê²°ê³¼ë¥¼ `ans`ì— ì €ì¥í•˜ì„¸ìš”.

ì´ ë•Œ `ans`ê°€ ê°€ì§ˆ ìˆ˜ ìˆëŠ” ê°’ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤ :
1. "ëŠí‹°ë‚˜ë¬´" ( ëŠí‹°ë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
2. "ì™•ë²šë‚˜ë¬´" ( ì™•ë²šë‚˜ë¬´ì˜ ìˆ˜ê°€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ê²Œ ë§ì€ ê²½ìš° )
3. "ì—†ìŒ" (í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ì§€ ì•Šì€ ê²½ìš°)

ë‹¤ìŒ ë§í¬ë¥¼ ì°¸ì¡°í•˜ì„¸ìš”.

<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [15]:
one_tailed_pv = pv3/2
alpha = 0.05

if one_tailed_pv < alpha:
    if np.mean(zelkova) > np.mean(cherry):
        ans = 'ëŠí‹°ë‚˜ë¬´'
    else:
        ans = 'ì™•ë²šë‚˜ë¬´'
else:
    ans = 'ì—†ìŒ'
    
ans

'ì—†ìŒ'