<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 1*

# 📝 Assignment

## 1. 1-Sample T-tests 연습

### 데이터 불러오기
- [서울시 가로수 데이터셋](https://data.seoul.go.kr/dataList/367/S/2/datasetView.do)을 사용합니다.

다음 링크를 참조하세요. 
<https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/seoul_tree/seoul_tree.txt>

In [2]:
# 파일을 업로드 하는 과정은 생략합니다.
import pandas as pd

df = pd.read_csv('./report.txt', delimiter = "\t", skiprows=1)
df.head()

,기간,자치구,노선수,수량,은행나무,양버즘나무,느티나무,왕벚나무,은단풍나무,메타세콰이어,...,튜울립나무,칠엽수,포플러,느릅나무,살구나무,무궁화,소나무,목련,이팝나무,기타
0,2019,서울시,"1,412","307,351","108,050","62,474","37,473","34,150",545,"5,171",...,948,"1,533",7,504,234,"2,374","4,539",378,"20,088","20,112"
1,2019,종로구,70,"7,329","4,072","1,071",619,421,-,1,...,-,17,-,-,-,-,239,-,711,29
2,2019,중구,48,"8,250","3,640",162,460,289,-,-,...,7,-,-,-,21,46,"2,162",-,470,817
3,2019,용산구,39,"7,835","4,444","1,422",373,262,-,-,...,13,16,-,-,39,-,51,126,198,780
4,2019,성동구,38,"8,120","1,090","2,401","1,975",602,29,48,...,-,1,3,59,-,-,53,-,709,646

### "서울시에는 구별로 평균적으로 약 400 그루 정도의 `이팝나무`가 있다" 라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue 값을 `pv1`에 저장하세요. (`.pvalue` 사용)

In [7]:
pd.concat([df['자치구'], df['이팝나무']], axis=1)

        자치구    이팝나무
0       서울시  20,088
1       종로구     711
2        중구     470
3       용산구     198
4       성동구     709
5       광진구     760
6      동대문구   1,176
7       중랑구     449
8       성북구     853
9       강북구     575
10      도봉구      47
11      노원구     142
12      은평구     443
13     서대문구     493
14      마포구   1,280
15      양천구     784
16      강서구   1,426
17      구로구   1,082
18      금천구     184
19     영등포구   1,281
20      동작구     397
21      관악구     249
22      서초구     446
23      강남구     768
24      송파구   1,651
25      강동구     642
26  공원녹지사업소       4
27   시설관리공단   2,868

In [8]:
snow_flower = df['이팝나무'][~df['자치구'].isin(['서울시','공원녹지사업소','시설관리공단'])]
snow_flower = pd.to_numeric(snow_flower.str.replace(',',''))

print(snow_flower.head(), snow_flower.tail(), snow_flower.shape, sep='\n')

1    711
2    470
3    198
4    709
5    760
Name: 이팝나무, dtype: int64
21     249
22     446
23     768
24    1651
25     642
Name: 이팝나무, dtype: int64
(25,)

In [9]:
import numpy as np

np.mean(snow_flower)

688.64

In [10]:
from scipy import stats

stats1, pv1 = stats.ttest_1samp(snow_flower, 400)
pv1

0.002470712850935819

### 이번에는 10개의 구를 샘플링하여, 위에 대한 가설검정을 다시 한번 시행해보세요.

- 단, 아래의 코드를 참조하여 sample을 위한 seed 는 123로 설정하세요.
- 가설검정 결과의 pvalue값을 `pv2`에 저장하세요

In [11]:
import numpy as np

np.random.seed(123)

chosen = np.random.choice(snow_flower,size=10)

np.mean(chosen)

479.7

In [12]:
stats2, pv2 = stats.ttest_1samp(chosen, 400)

pv2

0.49772576203804575

## 2. 2-Sample T-tests 연습

### "서울시의 구별 평균 느티나무수와 왕벚나무의 수는 차이가 없다" 라는 가설에 대해 가설검정을 시행하세요.

- 단, `서울시`, `공원녹지사업소`, `시설관리공단` 부분의 데이터는 제외합니다.
- 가설검정 결과의 pvalue를 `pv3`에 저장하세요

In [13]:
zelkova = df['느티나무'][~df['자치구'].isin(['서울시','공원녹지사업소','시설관리공단'])]
zelkova = pd.to_numeric(zelkova.str.replace(','or' ',''))

cherry = df['왕벚나무'][~df['자치구'].isin(['서울시','공원녹지사업소','시설관리공단'])]
cherry = pd.to_numeric(cherry.str.replace(',',''))

pd.concat([zelkova, cherry], axis=1)

    느티나무  왕벚나무
1    619   421
2    460   289
3    373   262
4   1975   602
5   1057   940
6    855   747
7    471   354
8   1014  1656
9    324   497
10   779  2095
11  1165  1612
12   680  1748
13   721   732
14  3056  1096
15  1065   956
16  2231  2508
17  1884  2157
18   407  1123
19  3419  2952
20  1421  1127
21   185  2416
22  3409   254
23  2991  2455
24  2400   992
25  2417  2309

In [14]:
stats3, pv3 = stats.ttest_ind(zelkova, cherry)
stats3, pv3

(0.4629256014492562, 0.6455096880085703)

### Two-sample One-tailed test를 사용하여 **평균 느티나무수가 왕벚나무 수보다 크다**라는 가설에 대한 가설검정을 시행하세요.
- 해당 가설검정의 결과를 `ans`에 저장하세요.

이 때 `ans`가 가질 수 있는 값은 아래와 같습니다 :
1. "느티나무" ( 느티나무의 수가 통계적으로 유의하게 많은 경우 )
2. "왕벚나무" ( 왕벚나무의 수가 통계적으로 유의하게 많은 경우 )
3. "없음" (통계적으로 유의하지 않은 경우)

다음 링크를 참조하세요.

<https://stackoverflow.com/questions/15984221/how-to-perform-two-sample-one-tailed-t-test-with-numpy-scipy>

In [15]:
one_tailed_pv = pv3/2
alpha = 0.05

if one_tailed_pv < alpha:
    if np.mean(zelkova) > np.mean(cherry):
        ans = '느티나무'
    else:
        ans = '왕벚나무'
else:
    ans = '없음'
    
ans

'없음'