<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 2 / NOTE 2*

# 📝 Assignment


## 1. 공공데이터 조작 연습. 

국가 통계 포털에서 아래 이미지를 참조하여

<https://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01#SelectStatsBoxDiv>

**2020년 8월**에 해당하는 규모별 미분양현황 에 대한 데이터셋을 생성하세요. 

<img src='https://i.imgur.com/aZc4UJO.png' width = 500>

- `60m이하`, `60~85m`, `85m초과`의 3개 규모와 (column)
- `서울`, `대전`, `대구`, `부산` 4개의 지역을 포함해야합니다. (row)
- 데이터가 없는 경우는 0으로 처리하세요.

이후 데이터셋을 colab으로 불러오세요. 이때 변수의 이름은 `df`를 사용합니다.

In [1]:
col = ['~60m2', '60~85m2', '85m2~']
row = ['서울', '대전', '대구', '부산']

In [2]:
import pandas as pd

df = pd.read_csv('data.csv', encoding='cp949', skiprows=(0,1), index_col='시도(1)').iloc[:,2:]
df.columns = col
df = df.reindex(row)
df

       ~60m2  60~85m2  85m2~
시도(1)
서울        54        2      0
대전       782        1      0
대구       143     1437     44
부산       577      735    142

## 2. 지역에 대해서 one-sample chi-square test를 실행, 해당 결과를 `chi1`에 저장 후 설명해보세요.

예시) 9월달 데이터를 기준으로 한다면

```python
 [0+0+0+52+2+0, 0+0+0+590+665+142, 0+0+0+113+1061+42, 0+0+0+772+1+0]
```
을 비교해야할겁니다.

In [3]:
from scipy import stats

df_sum = df.sum(axis=1)
df_sum

시도(1)
서울      56
대전     783
대구    1624
부산    1454
dtype: int64

In [5]:
from scipy.stats import chisquare

chi1 = chisquare(df_sum, axis=None)
chi1

Power_divergenceResult(statistic=1564.4572376818994, pvalue=0.0)

## 3. 지역과 규모에 대해서 two-sample chi-square test를 실행, 해당 결과를 `chi2`에 저장 후 설명해보세요.

예시) 9월달 데이터를 기준으로 한다면

| |-60 | 60-85 | 85- |
|:-:|:-:|:-:|:-:|
|서울|52|2|0|
|대전|772|1|0|
|대구|113|1061|42|
|부산|590|665|142|

에 대해서 검정해야 할 겁니다.

In [6]:
from scipy.stats import chi2_contingency

chi2 = chi2_contingency(df)
chi2

(2064.5767314171994,
 0.0,
 6,
 array([[ 22.24559612,  31.09522594,   2.65917794],
        [311.04110288, 434.77789124,  37.18100587],
        [645.12228746, 901.76155221,  77.11616033],
        [577.59101353, 807.36533061,  69.04365586]]))

### 4. 2번에 대해서 NumPy 를 사용하여 (Scipy를 사용하지 않고) $\chi^2$ test 시행 후 2번의 결과와 비교해보세요. 

- `obs`, `exp`, `chi`라는 변수를 사용해야합니다.

이 후 `chi2_contingency()`의 결과물과 비교해보세요

In [7]:
obs = df_sum.to_numpy()

In [8]:
import numpy as np

exp = np.mean(obs)
exp

979.25

In [9]:
squared = np.power(obs - exp, 2)
squared

array([852390.5625,  38514.0625, 415702.5625, 225387.5625])

In [11]:
chi = np.sum(squared / exp)
chi

1564.4572376818994