<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 3 / NOTE 2*

# ğŸ“ Assignment
---
# Data Wrangling

### 1) ì§€ì†ì ìœ¼ë¡œ ì—¬ëŸ¬ë¶„ì˜ í¬íŠ¸í´ë¦¬ì˜¤ ë°ì´í„°ë¥¼ ë­ê¸€ë§ í•˜ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ë“¤ì„ ë­ê¸€ë§í•˜ì—¬ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•œ í…Œì´ë¸” í˜•íƒœì˜ ë°ì´í„°ë¡œ ë§Œë“¤ì–´ ë³´ì„¸ìš”.
- **ë‹¤ìŒ í•¨ìˆ˜ì˜ resultë¥¼ ì™„ì„±ì‹œí‚¤ê³  ë¦¬í„´ê°’ì„ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**

In [1]:
### ì´ê³³ì—ì„œ ì œì¶œí¼ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###
import pandas as pd
df = pd.read_csv("https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/assignments/purchase_data.csv", sep=",",index_col=0)

In [2]:
## ë‹¤ìŒ result í•¨ìˆ˜ ì•ˆì— male, female ë³€ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.(groupby, get_groupì„ ì‚¬ìš©í•˜ì„¸ìš”.)
## sum_male: Age = 20, Gender = "Male" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.
## sum_female: Age = 20, Gender = "Female" ê·¸ë£¹ì˜ Priceë¥¼ í•©í•˜ì„¸ìš”.

def result(df):
    
    gender_age = pd.DataFrame(df.groupby(["Gender", "Age"])["Price"].sum().reset_index())

    sum_male = gender_age[gender_age.Age==20].iloc[0, 2]
    sum_female = gender_age[gender_age.Age==20].iloc[1, 2]
    
    print("sum_male: {}, sum_female: {}".format(sum_male, sum_female))
    return round(sum_male + sum_female)

result(df)

sum_male: 43.730000000000004, sum_female: 260.20000000000005

304

### ë‹µ : 304

### 2) ìƒˆë¡œ íŠ¹ì§•ë“¤ì„ ë§Œë“¤ì–´ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ì´ ì„ íƒí•œ ë°ì´í„°ì—ì„œ íŠ¹ì§• ê³µí•™ì„ ìˆ˜í–‰í•´ ë³´ì„¸ìš”.
- **(ë‹¤ì¤‘ì„ íƒ) purchase_dataë¥¼ ë­ê¸€ë§í•˜ì—¬ ë‹¤ìŒ ì¡°ê±´ì„ ê³„ì‚°í•˜ê³  ê²°ê³¼ê°€ ì˜¬ë°”ë¥¸ í•­ëª©ë§Œ ê³¼ì œ ì œì¶œí¼ì— ì œì¶œí•˜ì„¸ìš”.**
    1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤.
    2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.
    3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.
    4. ë‘ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤.

In [3]:
df.head(10)

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
5,Yalae81,22,Male,81,Dreamkiss,3.61
6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,Undjask33,22,Male,21,Souleater,1.10
9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [4]:
# 1. ë‚˜ì´ 1-20ì„¸ ê·¸ë£¹(20ì„¸ í¬í•¨)ì˜ í‰ê·  PriceëŠ” 3.101818ì´ë‹¤. > True
df[df["Age"] <= 20]["Price"].mean()

3.101818181818182

In [5]:
# 2. ë‚˜ì´ 21-50ì„¸ ê·¸ë£¹ì˜ í‰ê·  PriceëŠ” 3.021559ì´ë‹¤.  > True
age_cutoff = (df['Age'] >= 21) & (df['Age'] <50)
df[age_cutoff]["Price"].mean()

3.0215587044534415

In [6]:
# 3. ê°€ì¥ ë§ì´ êµ¬ì…í•œ ì•„ì´í…œì˜ IDëŠ” 178 ì´ë‹¤.  > True
df.groupby("Item ID").size().sort_values(ascending=False)

Item ID
178    12
145     9
108     9
82      9
19      8
       ..
104     1
23      1
180     1
91      1
134     1
Length: 183, dtype: int64

In [7]:
# ë‘ ë²ˆì§¸ë¡œ ë§¤ì¶œì„ ë§ì´ ë‚¸ ì•„ì´í…œ IDëŠ” 145ì´ë‹¤. > False
df.groupby("Item ID")["Price"].sum().sort_values(ascending=False)

Item ID
178    50.76
82     44.10
145    41.22
92     39.04
103    34.80
       ...
125     2.00
126     2.00
23      1.99
104     1.93
42      1.75
Name: Price, Length: 183, dtype: float64

## ğŸ”¥ ë„ì „ê³¼ì œ

### 3) ì¡°ê¸ˆ ë¶€ì¡±í•˜ë”ë¼ë„ ìµœì†Œí•œì˜ ë­ê¸€ë§ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì¤€ë¹„í•˜ì—¬ ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµì‹œì¼œ ë³´ì„¸ìš”
- ì—¬ëŸ¬ë¶„ë“¤ì´ ì„ íƒí•œ ë°ì´í„°ë¥¼ ê°€ì§€ê³  ê°„ë‹¨í•œ ëª¨ë¸ì„ í•™ìŠµí•˜ê³  ê²°ê³¼ë¥¼ ë¦¬í¬íŒ… í•©ë‹ˆë‹¤.

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###