<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 2*

# ğŸ“ Assignment

## 1. Feature Engineering

- `KT&G` ê¸°ì—… ë°ì´í„°ë¥¼ ê³„ì† ì‚¬ìš©í•©ë‹ˆë‹¤.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df`ë¡œ ì €ì¥í•˜ì„¸ìš”.

- ê° ë¶„ê¸°ë³„ ì˜ì—…ì´ìµë¥ ì„ ì§ì ‘ ê³„ì‚°í•´ë³´ì„¸ìš”. 
  - Feature ì´ë¦„ì€ `ì˜ì—…ì´ìµë¥ 2` ì…ë‹ˆë‹¤.

- ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.
  - ë³€ìˆ˜ ì´ë¦„ì€ `df2`, feature ì´ë¦„ì€ `PDR`ë¡œ, `df2['PDR']`ì„ í†µí•´ `~` ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.

||êµ¬ë¶„|ì¢…ê°€|ë°œí–‰ì£¼ì‹ìˆ˜|ì‹œê°€ì´ì•¡|ì‹œì¥ì ìœ ìœ¨|PDR|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|0|18ë…„|101500|137292497|13935188445500|62.0|~|
|1|19ë…„|93800|137292497|12878036218600|63.5|~|

In [322]:

# êµ¬ë¶„	ì¢…ê°€	ë°œí–‰ì£¼ì‹ìˆ˜	ì‹œê°€ì´ì•¡	ì‹œì¥ì ìœ ìœ¨	PDR
# 0	18ë…„	101500	137292497	13935188445500	62.0	~
# 1	19ë…„	93800	137292497	12878036218600	63.5	~

# ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œëŠ” ë²•

In [323]:
url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kt%26g/kt%26g_0.csv'
headers = ['ë¶„ê¸°', 'ë§¤ì¶œì•¡', 'ì˜ì—…ì´ìµ', 'ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)', 'ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ',
           'ë‹¹ê¸°ìˆœì´ìµ', 'ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)', 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)', 'ìì‚°ì´ê³„', 'ë¶€ì±„ì´ê³„',
           'ìë³¸ì´ê³„', 'ìë³¸ì´ê³„(ì§€ë°°)', 'ìë³¸ì´ê³„(ë¹„ì§€ë°°)', 'ìë³¸ê¸ˆ', 'ì˜ì—…í™œë™í˜„ê¸ˆíë¦„',
           'íˆ¬ìí™œë™í˜„ê¸ˆíë¦„', 'ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„', 'ì˜ì—…ì´ìµë¥ ', 'ìˆœì´ìµë¥ ', 'ROE(%)',
           'ROA(%)', 'ë¶€ì±„ë¹„ìœ¨', 'ìë³¸ìœ ë³´ìœ¨', 'EPS(ì›)', 'PER(ë°°)']

In [324]:
import pandas as pd

df = pd.read_csv(url, names = headers)
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ë¶€ì±„ë¹„ìœ¨   ìë³¸ìœ ë³´ìœ¨ EPS(ì›)  PER(ë°°)
0   19/6  12,578  3,991      3,991  ...  31.43  803.22  2,351   13.77
1   19/9  13,222  3,825      3,825  ...  24.17  836.86  2,337   13.87
2  19/12  11,982  2,523      2,523  ...  23.04  850.82    873   12.42
3   20/3  11,784  3,150      3,150  ...  29.69  823.16  2,134    9.71
4   20/6  13,188  3,947      3,947  ...  26.91  837.40  2,135   10.46

[5 rows x 25 columns]

In [325]:
# ì˜ì—…ì´ìµë¥  ê³„ì‚° ë°©ë²•ì€ êµ¬í•´ì§„ ì˜ì—…ì´ìµì„ ë§¤ì¶œì•¡ìœ¼ë¡œ ë‚˜ëˆ„ê³  100ì„ ê³±í•´ %ë¥¼ êµ¬í•˜ì‹œë©´ ë©ë‹ˆë‹¤. ì¦‰ ì´ë§¤ì¶œì•¡ëŒ€ë¹„ ì˜ì—…ì´ìµì˜ ìˆ˜ì¤€ì´ ì–´ëŠì •ë„ëƒì— ë”°ë¼ì„œ ë§ˆì§„ìœ¨ì´ ì–¼ë§ˆë‚˜ ì¢‹ì€ì§€ íŒŒì•…í•  ìˆ˜ ìˆëŠ” ì§€í‘œì…ë‹ˆë‹¤.
# ì˜ì—…ì´ìµë¥ 2 = (ì˜ì—…ì´ìµ / ë§¤ì¶œì•¡) * 100
def toint(string):
  return int(string.replace(',',''))

df['ì˜ì—…ì´ìµë¥ 2'] = (df['ì˜ì—…ì´ìµ'].apply(toint) / df['ë§¤ì¶œì•¡'].apply(toint)) * 100
df

      ë¶„ê¸°     ë§¤ì¶œì•¡   ì˜ì—…ì´ìµ ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨ EPS(ì›) PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12,578  3,991      3,991  ...  803.22  2,351  13.77  31.730005
1   19/9  13,222  3,825      3,825  ...  836.86  2,337  13.87  28.929058
2  19/12  11,982  2,523      2,523  ...  850.82    873  12.42  21.056585
3   20/3  11,784  3,150      3,150  ...  823.16  2,134   9.71  26.731161
4   20/6  13,188  3,947      3,947  ...  837.40  2,135  10.46  29.928723

[5 rows x 26 columns]

In [326]:
# ì‹œê°€ì´ì•¡ì„ TAM(ì „ì²´ì‹œì¥ê·œëª¨)ì— í•´ë‹¹ ê¸°ì—…ì˜ ì‹œì¥ì ìœ ìœ¨ì„ ê³±í•œ ê°’ìœ¼ë¡œ ë‚˜ëˆ  PDRì„ ì‚°ì¶œí•œë‹¤
# PDR = ì‹œê°€ì´ì•¡ /(ì „ì²´ ì‹œì¥ê·œëª¨ * ì‹œì¥ ì ìœ ìœ¨)


# ì•„ë˜ ë°ì´í„°ë¥¼ ì°¸ì¡°í•˜ì—¬ 18/19ë…„ë„ì— ëŒ€í•´ì„œ Price to Dream Ratio (PDR)ì„ ê³„ì‚°í•˜ì„¸ìš”.

# ë³€ìˆ˜ ì´ë¦„ì€ df2, feature ì´ë¦„ì€ PDRë¡œ, df2['PDR']ì„ í†µí•´ ~ ê°’ì´ í™•ì¸ ë˜ì–´ì•¼í•©ë‹ˆë‹¤.
# êµ¬ë¶„	ì¢…ê°€	ë°œí–‰ì£¼ì‹ìˆ˜	ì‹œê°€ì´ì•¡	ì‹œì¥ì ìœ ìœ¨	PDR
# 0	18ë…„	101500	137292497	13935188445500	62.0	~
# 1	19ë…„	93800	137292497	12878036218600	63.5	~

# ì˜¤ëŠ˜ PDRì„ ê³„ì‚° í•˜ê¸° ìœ„í•´ì„œ ëª‡ ê°€ì§€ ì „ì œ ì¡°ê±´ë“¤ì´ í•„ìš”í•œë°ìš”, í•´ë‹¹ ë‚´ìš©ì„ ê³µìœ í•´ë“œë¦½ë‹ˆë‹¤. ì ìœ ìœ¨ì€ (ì¼ë°˜ë‹´ë°° ê¸°ì¤€) 18ë…„:62%, 19ë…„ 63.5% ë¡œ ê³„ì‚°í•©ë‹ˆë‹¤. ì‹œì¥ì˜ ê·œëª¨ëŠ” 18ë…„ 15ì¡°, 19ë…„ 15ì¡° ë¼ê³  ê°€ì •í•©ë‹ˆë‹¤.


data = [['18ë…„', 101500, 137292497, 13935188445500, 62.0, 15000000000000],
        ['19ë…„', 93800, 137292497, 12878036218600, 63.5, 15000000000000]]
df2 = pd.DataFrame(data, columns = ['êµ¬ë¶„', 'ì¢…ê°€', 'ë°œí–‰ì£¼ì‹ìˆ˜', 'ì‹œê°€ì´ì•¡', 'ì‹œì¥ì ìœ ìœ¨', 'ì „ì²´ì‹œì¥ê·œëª¨'] ,index = ['0', '1'])
df2['PDR'] = (df2['ì‹œê°€ì´ì•¡'] /(df2['ì „ì²´ì‹œì¥ê·œëª¨']*(df2['ì‹œì¥ì ìœ ìœ¨']/100))) * 100
df2['PDR']

0    149.840736
1    135.202480
Name: PDR, dtype: float64

## 2. String Manipulation

- replaceê°€ ì•„ë‹Œ ë‹¤ë¥¸ ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ 19ë…„ë„ 2ë¶„ê¸°ì˜ ë§¤ì¶œì•¡ ì„ integerë¡œ ë³€ê²½í•˜ì„¸ìš”. ê²°ê³¼ê°’ì€ 12578ì´ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

In [327]:
# split(), ''.join(), int()
int(''.join(df['ë§¤ì¶œì•¡'][0].split(',')))

12578

## 3. Apply
- ë°ì´í„°ì…‹ì˜ ë¶„ê¸°ë¥¼ ì œì™¸í•œ ëª¨ë“  featureì— ëŒ€í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„° (`int`, `float`) ë¡œ ìˆ˜ì •í•˜ê³ , `describe`ë¥¼ í†µí•´ summary statistics ë¥¼ í™•ì¸í•˜ì„¸ìš”.
- ë‹¨ ê²°ì¸¡ì¹˜ëŠ” `0`ìœ¼ë¡œ ì²˜ë¦¬í•©ë‹ˆë‹¤.

In [328]:
import numpy as np

df = df.replace(np.nan, 0)

def tofloat(string):
  return float(string.replace(',',''))

# df['ë§¤ì¶œì•¡'] = df['ë§¤ì¶œì•¡'].apply(tofloat)

for i, j in zip(df[:], range(26)):
  if j > 0:
    if df[i].dtype == object:
      df[i] = df[i].apply(tofloat)

df.dtypes

ë¶„ê¸°             object
ë§¤ì¶œì•¡           float64
ì˜ì—…ì´ìµ          float64
ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)    float64
ì„¸ì „ê³„ì†ì‚¬ì—…ì´ìµ      float64
ë‹¹ê¸°ìˆœì´ìµ         float64
ë‹¹ê¸°ìˆœì´ìµ(ì§€ë°°)     float64
ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)      int64
ìì‚°ì´ê³„          float64
ë¶€ì±„ì´ê³„          float64
ìë³¸ì´ê³„          float64
ìë³¸ì´ê³„(ì§€ë°°)      float64
ìë³¸ì´ê³„(ë¹„ì§€ë°°)     float64
ìë³¸ê¸ˆ           float64
ì˜ì—…í™œë™í˜„ê¸ˆíë¦„      float64
íˆ¬ìí™œë™í˜„ê¸ˆíë¦„      float64
ì¬ë¬´í™œë™í˜„ê¸ˆíë¦„      float64
ì˜ì—…ì´ìµë¥          float64
ìˆœì´ìµë¥           float64
ROE(%)        float64
ROA(%)        float64
ë¶€ì±„ë¹„ìœ¨          float64
ìë³¸ìœ ë³´ìœ¨         float64
EPS(ì›)        float64
PER(ë°°)        float64
ì˜ì—…ì´ìµë¥ 2        float64
dtype: object

## Grading

ì´ì „ ê³¼ì œë¥¼ ì™„ë£Œí–ˆë‹¤ë©´, ì•„ë˜ì˜ ì½”ë“œë¥¼ ì‹¤í–‰í•˜ì„¸ìš”.

In [329]:
def grade(df, df2):
  score = 0
  score += (df.shape == (5, 26)) # 1-1
  score += ((round(df2['PDR'], 3) == [149.841, 135.202]).sum() == 2) # 1-2
  score += ((round(df['ì˜ì—…ì´ìµë¥ 2'], 3) == [31.730, 28.929, 21.057, 26.731, 29.929]).sum() == 5) # 1-3
  score += (df['ë§¤ì¶œì•¡'][0] == 12578) # 2
  score += ((df.dtypes == 'O').sum() == 1)
  return(score)

In [330]:
grade(df, df2)

5

In [331]:
round(df2['PDR'], 3)

0    149.841
1    135.202
Name: PDR, dtype: float64

In [332]:
round(1.498-1.352, 3)

0.146

In [333]:
round(df['ì˜ì—…ì´ìµë¥ 2'], 3).min()

21.057

In [334]:
df['ë§¤ì¶œì•¡'][0]

12578.0

In [335]:
(df.dtypes == 'O').sum()

1

In [336]:
# round(float, ì†Œìˆ«ì  ìë¦¬ìˆ˜)
(round(df2['PDR'], 3) == [149.841, 135.202]).sum()

2

## ğŸ”¥ ë„ì „ê³¼ì œ

### NA Value Handling

- 19ë…„ë„ 4ë¶„ê¸°ì˜ ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°) ë¶€ë¶„ì„ Naë¡œ ëŒ€ì²´í•˜ì„¸ìš”
- ì´í›„ í•´ë‹¹ ê²°ì¸¡ì¹˜ë¥¼ mean imputation ë°©ë²•ì„ ì‚¬ìš©í•˜ì—¬ ì²˜ë¦¬í•˜ì„¸ìš”.

In [337]:
df.loc[2, 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = 'Na'
df.loc[2, 'ë‹¹ê¸°ìˆœì´ìµ(ë¹„ì§€ë°°)'] = None
df.fillna(df.mean())

      ë¶„ê¸°      ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ì˜ì—…ì´ìµ(ë°œí‘œê¸°ì¤€)  ...   ìë³¸ìœ ë³´ìœ¨  EPS(ì›)  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2
0   19/6  12578.0  3991.0      3991.0  ...  803.22  2351.0   13.77  31.730005
1   19/9  13222.0  3825.0      3825.0  ...  836.86  2337.0   13.87  28.929058
2  19/12  11982.0  2523.0      2523.0  ...  850.82   873.0   12.42  21.056585
3   20/3  11784.0  3150.0      3150.0  ...  823.16  2134.0    9.71  26.731161
4   20/6  13188.0  3947.0      3947.0  ...  837.40  2135.0   10.46  29.928723

[5 rows x 26 columns]

### Feature Engineering

Relative Perfomance ë¼ëŠ” ìƒˆë¡œìš´ featureë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

ì´ëŠ” ìµœê·¼ 1ë…„ì¹˜ ë§¤ì¶œì•¡ì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 

- 10% ì´ìƒ -> `S`
- 5% ì´ìƒ -> `A`
- -5 ~ 5% -> `B`
- -5%ì´í•˜ -> `C`
- 10%ì´í•˜ -> `D`

ë¼ëŠ” ê°’ì„ ê°–ëŠ” featureì…ë‹ˆë‹¤.

20ë…„ë„ 2ë¶„ê¸°ì— í•´ë‹¹í•˜ëŠ” ê²°ê³¼ê°’ì€ `A`ê°€ ë‚˜ì™€ì•¼í•©ë‹ˆë‹¤.

ê°ê°ì— í•´ë‹¹í•˜ëŠ” ë“±ê¸‰ì´ ë‚˜ì˜¤ê¸° ìœ„í•´ì„œ í•„ìš”í•œ ë§¤ì¶œì•¡ì„ ì¶”ê°€ë¡œ ì„œìˆ í•˜ì„¸ìš”.

In [338]:
import numpy as np

RP = ( df['ë§¤ì¶œì•¡'] / df['ë§¤ì¶œì•¡'].mean() - 1 ) * 100

df['Relative Perfomance'] = ( df['ë§¤ì¶œì•¡'] / df['ë§¤ì¶œì•¡'].mean() - 1 ) * 100

df['Relative Perfomance'][RP<-10] = 'D' 
df['Relative Perfomance'][(RP>-10) & (RP<-5)]= 'C'
df['Relative Perfomance'][(RP>-5) & (RP<5)]= 'B'
df['Relative Perfomance'][(RP>5) & (RP<10)]= 'A'
df['Relative Perfomance'][RP>10]= 'S' 
df

      ë¶„ê¸°      ë§¤ì¶œì•¡    ì˜ì—…ì´ìµ  ...  PER(ë°°)     ì˜ì—…ì´ìµë¥ 2  Relative Perfomance
0   19/6  12578.0  3991.0  ...   13.77  31.730005                    B
1   19/9  13222.0  3825.0  ...   13.87  28.929058                    A
2  19/12  11982.0  2523.0  ...   12.42  21.056585                    B
3   20/3  11784.0  3150.0  ...    9.71  26.731161                    C
4   20/6  13188.0  3947.0  ...   10.46  29.928723                    A

[5 rows x 27 columns]

In [339]:
RP

0    0.216719
1    5.347866
2   -4.531982
3   -6.109571
4    5.076967
Name: ë§¤ì¶œì•¡, dtype: float64

In [340]:
# S ë§¤ì¶œì•¡ > (10 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· )
# (10 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· ) > A ë§¤ì¶œì•¡ > (5 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· )
# (5 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· ) > B ë§¤ì¶œì•¡ > (-5 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· )
# (-5 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· ) > C ë§¤ì¶œì•¡ > (-10 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· )
# D ë§¤ì¶œì•¡ < (-10 / 100 + 1)*(ë§¤ì¶œì•¡ í‰ê· )

print( 'S_ë§¤ì¶œì•¡ >',  round((10 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2))
print(round((5 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2), '< A_ë§¤ì¶œì•¡ <',  round((10 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2))
print(round((-5 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2), '< B_ë§¤ì¶œì•¡ <',  round((5 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2))
print(round((-10 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2), '< C_ë§¤ì¶œì•¡ <',  round((-5 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2))
print( 'D_ë§¤ì¶œì•¡ <',  round((-10 / 100 + 1)*df['ë§¤ì¶œì•¡'].mean(), 2))

S_ë§¤ì¶œì•¡ > 13805.88
13178.34 < A_ë§¤ì¶œì•¡ < 13805.88
11923.26 < B_ë§¤ì¶œì•¡ < 13178.34
11295.72 < C_ë§¤ì¶œì•¡ < 11923.26
D_ë§¤ì¶œì•¡ < 11295.72