<img src='https://user-images.githubusercontent.com/6457691/90080969-0f758d00-dd47-11ea-8191-fa12fd2054a7.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 4 / SPRINT 1 / Assignment 4*

---
# N414. 신경망과 학습에 관련된 파라미터 튜닝 (HyperTune)



## 실전 연습과제

다음 통신사 고객 이탈(Churn) 데이터셋에서 정확도를 조정해보는 파라미터 학습을 진행해보겠습니다 : [다운로드](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/telecom/TelcomCustomer.csv)

## 진행방식

- 데이터를 다운로드 받고 읽어옴(load)
- 데이터 클리닝을 진행 (필수는 아니지만 추천)
- Keras MLP model을 만들고, 학습 진행
- Hyperparameter 튜닝 진행:
 - batch_size
 - training epochs
 - optimizer
 - learning rate (optimizer에 따라서 해당되면)
 - momentum (optimizer에 따라서 해당되면)
 - activation functions
 - network weight initialization
 - dropout regularization
 - number of neurons in the hidden layer
 
하이퍼 파라미터의 초기 패스를 위해 그리드 검색 및 교차 검증을 사용할 수 있어야 합니다. 

실제 큰 통신회사의 데이터이기 때문에 최대한 정확하게 파악해 보십시오!

# 데이터 전처리

### 문항 1) 내 로컬 파일을 colab에 업로드하기

충분한 GPU를 가지고 있다면, 쉽게 문제를 해결할 수 있겠지만, 제한된 자원에서 충분한 GPU를 제공받지 못할 지 모릅니다. 이럴 때에는 딥러닝 커뮤니티에 물어볼 수도 있겠지만, 가성비 좋은 Colab의 GPU를 이용해서 실제 GPU사용량을 예측할 수 있다면 좋겠습니다. 모델 파라미터의 개수와 batch size 등이 GPU메모리에 큰 영향을 미치니 여러가지로 활용해보시기 바랍니다.

Colab의 GPU를 이용하기 위해서, 로컬로 진행하시던 분들도 이번에는 colab을 사용해봅시다. 

- 구글에서 colab의 라이브러리를 찾아서 업로드하세요. 
이후에 Pandas를 이용하여 데이터프레임으로 저장합니다.

colab을 사용하기위해서는 colab 라이브러리들을 잘 활용할 수 있으면 좋습니다. colab 기본형의 GPU의 사용제한 때문에 하지 못하는 일이 있다면, colab pro를 사용할 수 있습니다. 코드스테이츠에서 제공하는 colab pro 설치 가이드가 있지만, 스스로 문제를 해결해보시면 좋습니다. 그러나 도움이 필요하시면 HelpDesk에 문의해주시기 바랍니다.

### 로컬 파일을 업로드하는 코드를 입력하세요.

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving TelcomCustomer.csv to TelcomCustomer.csv

In [ ]:
# 데이터 불러오기
import pandas as pd
df = pd.read_csv('TelcomCustomer.csv')

In [ ]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

### 문항 2) 결측치가 있는지 isnull()함수를 이용하여 확인하고 결과값을 입력하시오.

In [ ]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### 문항 3) dtypes를 이용해서 데이터 타입을 확인하고 아래 문제에 답하시오.

TotalCharges와 같이 중요한 타켓값이 숫자로 되어있어야 하는데, object로 되어있는 것을 확인하고 숫자형으로 바꿔주세요. <br>
숫자형이 아닌 결측치의 개수는 몇개인가요?

In [ ]:
##### Your Code Here #####
# 데이터 타입 확인

# TotalCharges 숫자형으로 변환

# 결측치 확인

# 결측치 드랍

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
null_idx_lst = []

for idx, charge in enumerate(df['TotalCharges']):
    try:
        float(charge)
    except Exception:
        print(f"인덱스 : {idx}, 값 : {charge}, type(charge)")
        null_idx_lst.append(idx)


print(f"결측치의 개수는 {len(null_idx_lst)} 개 입니다")

인덱스 : 488, 값 :  , type(charge)
인덱스 : 753, 값 :  , type(charge)
인덱스 : 936, 값 :  , type(charge)
인덱스 : 1082, 값 :  , type(charge)
인덱스 : 1340, 값 :  , type(charge)
인덱스 : 3331, 값 :  , type(charge)
인덱스 : 3826, 값 :  , type(charge)
인덱스 : 4380, 값 :  , type(charge)
인덱스 : 5218, 값 :  , type(charge)
인덱스 : 6670, 값 :  , type(charge)
인덱스 : 6754, 값 :  , type(charge)
결측치의 개수는 11 개 입니다

In [ ]:
df_dropped = df.drop(null_idx_lst)

In [ ]:
df_dropped.shape

(7032, 21)

In [ ]:
df = df_dropped.astype({'TotalCharges':'float64'})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [ ]:
# customerID 드랍
df = df.drop(columns='customerID')

In [ ]:
# Attributing No internet service to No
no_internet_feats = [ 'TechSupport','OnlineBackup', 'DeviceProtection','StreamingTV',
                 'OnlineSecurity','StreamingMovies']

for i in no_internet_feats:
    df[i] = df[i].replace({'No internet service':'No'})

# Attributing No phone service to No
df['MultipleLines']=df['MultipleLines'].replace({'No phone service':'No'})

# Attributing No phone service to No
df['SeniorCitizen']=df['SeniorCitizen'].replace({0:'No',
                                                 1:'Yes'})

In [ ]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 5.0MB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
df.head(3)

   gender SeniorCitizen Partner  ... MonthlyCharges  TotalCharges Churn
0  Female            No     Yes  ...          29.85         29.85    No
1    Male            No      No  ...          56.95       1889.50    No
2    Male            No      No  ...          53.85        108.15   Yes

[3 rows x 20 columns]

In [ ]:
# 원핫 인코딩
from category_encoders import OrdinalEncoder

encoder = OrdinalEncoder()
df_encoded = encoder.fit_transform(df)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df_encoded.head()

   gender  SeniorCitizen  Partner  ...  MonthlyCharges  TotalCharges  Churn
0       1              1        1  ...           29.85         29.85      1
1       2              1        2  ...           56.95       1889.50      1
2       2              1        2  ...           53.85        108.15      2
3       2              1        2  ...           42.30       1840.75      1
4       1              1        2  ...           70.70        151.65      2

[5 rows x 20 columns]

In [ ]:
# 타겟을 0과 1로 바꿔주기
df_encoded['Churn'] = df_encoded['Churn'].replace({1: 0, 2: 1})
df_encoded['Churn'].value_counts()

0    5163
1    1869
Name: Churn, dtype: int64

In [ ]:
df_encoded.shape

(7032, 20)

### 문항 4) 훈련집합과 테스트 집합을 나누는 코드를 만들고, 해당 코드를 입력하시오.

- random_state=1
- test_size=0.25

In [ ]:
##### Your Code Here #####
# 훈련, 테스트 셋을 나누기
from sklearn.model_selection import train_test_split

train, test = train_test_split(df_encoded, stratify=df_encoded['Churn'], random_state=1)
train.shape, test.shape

((5274, 20), (1758, 20))

In [ ]:
# features 와 target 을 분리

target = 'Churn'
features = df_encoded.drop(columns=[target]).columns

X_train = train[features]
X_test = test[features]

y_train = train[target]
y_test = test[target]

### 문항 5) sklearn.preprocessing.StandardScaler를 이용하여 정규화를 진행하시고, 문제를 보고 빈칸에 알맞은 단어를 넣으시오.

`X_train_scaled = scaler.##### Your Code Here #####`

In [ ]:
##### Your Code Here #####
# 정규화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
# 19x1 형태 => 입력층의 노드수가 19개! 
X_train_scaled[0]

array([ 0.99508225, -0.43925252,  0.96350214, -0.65400354, -0.09779796,
        0.32541085,  1.16743446, -1.19019364,  1.59286639,  0.72650531,
       -0.72042294, -0.64249881, -0.79264136,  1.25707392, -0.83276144,
       -0.83448511, -0.27868378, -0.00881575, -0.17257846])

# 모델링

## 기본 모델

In [ ]:
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Flatten
import keras
import tensorflow as tf
import IPython
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
!pip install -U keras-tuner
import kerastuner as kt

Collecting keras-tuner
  Downloading https://files.pythonhosted.org/packages/20/ec/1ef246787174b1e2bb591c95f29d3c1310070cad877824f907faba3dade9/keras-tuner-1.0.2.tar.gz (62kB)
     |████████████████████████████████| 71kB 5.4MB/s
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (20.9)
Requirement already satisfied, skipping upgrade: future in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.16.0)
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.19.5)
Requirement already satisfied, skipping upgrade: tabulate in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.8.9)
Collecting terminaltables
  Downloading https://files.pythonhosted.org/packages/9b/c4/4a21174f32f8a7e1104798c445dacdc1d4df86f2f26722767034e4de4bff/terminaltables-3.1.0.tar.gz
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (4.41.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied, skipping upgrade: scikit-learn in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (2.4.7)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2020.12.5)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->keras-tuner) (1.0.1)
Building wheels for collected packages: keras-tuner, terminaltables
  Building wheel for keras-tuner (setup.py) ... done
  Created wheel for keras-tuner: filename=keras_tuner-1.0.2-cp37-none-any.whl size=78938 sha256=c2ac9e9722e421887b93c408d84cdbf17b2ca82349dd9d30e61686be7bf3cbb8
  Stored in directory: /root/.cache/pip/wheels/bb/a1/8a/7c3de0efb3707a1701b36ebbfdbc4e67aedf6d4943a1f463d6
  Building wheel for terminaltables (setup.py) ... done
  Created wheel for terminaltables: filename=terminaltables-3.1.0-cp37-none-any.whl size=15356 sha256=3ff8420c8f04cb2e627cc2e27ad58bc194c16433515f4d400235e201a3f5ad0e
  Stored in directory: /root/.cache/pip/wheels/30/6b/50/6c75775b681fb36cdfac7f19799888ef9d8813aff9e379663e
Successfully built keras-tuner terminaltables
Installing collected packages: terminaltables, colorama, keras-tuner
Successfully installed colorama-0.4.4 keras-tuner-1.0.2 terminaltables-3.1.0

### 문제 6. np.unique를 이용해서 y_train의 Class 의 개수를 확인하고 입력하시오.

In [ ]:
np.unique(y_train)

# 이진분류의 경우 class는 2개이지만, 출력층의 노드수 = 1

array([0, 1])

In [ ]:
# 간단한 모델 만들어서 성능을 보기 !
tf.random.set_seed(7)

model2 = Sequential()
model2.add(Dense(64, activation='relu'))
model2.add(Dense(64, activation='relu'))
model2.add(Dense(1, activation='sigmoid')) # 00분류니까 노드수 1, 활성함수로는 시그모이드

model2.compile(optimizer='adam', 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model2.fit(X_train_scaled, y_train, epochs=10, validation_data=(X_test_scaled,y_test))

Epoch 1/10
165/165 [==============================] - 1s 4ms/step - loss: 0.5154 - accuracy: 0.7276 - val_loss: 0.4491 - val_accuracy: 0.7912
Epoch 2/10
165/165 [==============================] - 0s 2ms/step - loss: 0.4173 - accuracy: 0.8054 - val_loss: 0.4461 - val_accuracy: 0.7986
Epoch 3/10
165/165 [==============================] - 0s 2ms/step - loss: 0.4056 - accuracy: 0.8073 - val_loss: 0.4482 - val_accuracy: 0.7918
Epoch 4/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3986 - accuracy: 0.8095 - val_loss: 0.4452 - val_accuracy: 0.8020
Epoch 5/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3985 - accuracy: 0.8119 - val_loss: 0.4512 - val_accuracy: 0.7947
Epoch 6/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3901 - accuracy: 0.8207 - val_loss: 0.4527 - val_accuracy: 0.7901
Epoch 7/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3903 - accuracy: 0.8156 - val_loss: 0.4520 - val_accuracy: 0.7958
Epoch 8/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3813 - accuracy: 0.8236 - val_loss: 0.4533 - val_accuracy: 0.7929
Epoch 9/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3757 - accuracy: 0.8293 - val_loss: 0.4551 - val_accuracy: 0.7856
Epoch 10/10
165/165 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8212 - val_loss: 0.4638 - val_accuracy: 0.7810

In [ ]:
# 테스트셋 사용해서 결과 보기
model2.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 0.4638 - accuracy: 0.7810

[0.4637787342071533, 0.7810011506080627]

파라미터 튜닝을 하기전에 간단히 임의로 넣어본 결과도 꽤 좋다. 이젠 GridSearchCV 를 사용해서 튜닝을 해보겠음!

## GridSearchCV 사용

In [ ]:
# 모델 만들기
tf.random.set_seed(7)

def model_builder(nodes=16, activation='relu'):

  model = Sequential()
  model.add(Dense(nodes, activation=activation))
  model.add(Dense(nodes, activation=activation))
  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  model.compile(optimizer='adam', 
                loss='binary_crossentropy', 
                metrics=['accuracy'])

  return model

# keras.wrapper를 활용하여 분류기를 만듭니다
model = KerasClassifier(build_fn=model_builder, verbose=0)

# GridSearch
batch_size = [50, 100, 300]
epochs = [10, 20, 30]
nodes = [64, 128, 256]
activation = ['relu', 'sigmoid']
param_grid = dict(batch_size=batch_size, epochs=epochs, nodes=nodes, activation=activation)


# GridSearch CV를 만들기
grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=3, verbose=1, n_jobs=-1)
grid_result = grid.fit(X_train_scaled, y_train)

Fitting 3 folds for each of 54 candidates, totalling 162 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 162 out of 162 | elapsed:  4.2min finished

In [ ]:
# 최적의 결과값을 낸 파라미터를 출력합니다
print(f"Best: {grid_result.best_score_} using {grid_result.best_params_}")
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print(f"Means: {mean}, Stdev: {stdev} with: {param}")

Best: 0.8060295780499777 using {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 20, 'nodes': 128}
Means: 0.7935153643290201, Stdev: 0.008676596261105497 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 10, 'nodes': 64}
Means: 0.7957906723022461, Stdev: 0.0013933358855224129 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 10, 'nodes': 128}
Means: 0.7935153444608053, Stdev: 0.002128355721301594 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 10, 'nodes': 256}
Means: 0.7942737936973572, Stdev: 0.004698330066406599 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 20, 'nodes': 64}
Means: 0.7777777711550394, Stdev: 0.013269937143744637 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 20, 'nodes': 128}
Means: 0.7773985664049784, Stdev: 0.009544707657653001 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 20, 'nodes': 256}
Means: 0.7811907529830933, Stdev: 0.002557973083092161 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 30, 'nodes': 64}
Means: 0.7739856044451395, Stdev: 0.004675320964193731 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 30, 'nodes': 128}
Means: 0.7609025239944458, Stdev: 0.014362828101752108 with: {'activation': 'relu', 'batch_size': 50, 'epochs': 30, 'nodes': 256}
Means: 0.8026166160901388, Stdev: 0.0028251117723720777 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 10, 'nodes': 64}
Means: 0.7957906723022461, Stdev: 0.002413328545733792 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 10, 'nodes': 128}
Means: 0.7874478499094645, Stdev: 0.009009928852261402 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 10, 'nodes': 256}
Means: 0.8024269938468933, Stdev: 0.003516728730436511 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 20, 'nodes': 64}
Means: 0.7895335555076599, Stdev: 0.002585927790231751 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 20, 'nodes': 128}
Means: 0.7819491823514303, Stdev: 0.010563800001301171 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 20, 'nodes': 256}
Means: 0.7931361397107443, Stdev: 0.007636342784648269 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 30, 'nodes': 64}
Means: 0.77796737353007, Stdev: 0.008630866012616485 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 30, 'nodes': 128}
Means: 0.7703830202420553, Stdev: 0.014392826872462171 with: {'activation': 'relu', 'batch_size': 100, 'epochs': 30, 'nodes': 256}
Means: 0.8010997374852499, Stdev: 0.000966840760883691 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 10, 'nodes': 64}
Means: 0.8009101351102194, Stdev: 0.004915239257438977 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 10, 'nodes': 128}
Means: 0.7967387239138285, Stdev: 0.0027995450969407467 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 10, 'nodes': 256}
Means: 0.8009101152420044, Stdev: 0.007645763083179265 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 20, 'nodes': 64}
Means: 0.798065980275472, Stdev: 0.004022214242889653 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 20, 'nodes': 128}
Means: 0.7921880880991617, Stdev: 0.004966173464021692 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 20, 'nodes': 256}
Means: 0.8001516858736674, Stdev: 0.00458213259057515 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 30, 'nodes': 64}
Means: 0.7937049865722656, Stdev: 0.00554101511078982 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 30, 'nodes': 128}
Means: 0.7840348879496256, Stdev: 0.011351253523628676 with: {'activation': 'relu', 'batch_size': 300, 'epochs': 30, 'nodes': 256}
Means: 0.8054607510566711, Stdev: 0.0013933358855224129 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 10, 'nodes': 64}
Means: 0.7971179286638895, Stdev: 0.010594414049434425 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 10, 'nodes': 128}
Means: 0.799203634262085, Stdev: 0.005631126030961393 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 10, 'nodes': 256}
Means: 0.7992036541302999, Stdev: 0.0056311280379445225 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 20, 'nodes': 64}
Means: 0.8060295780499777, Stdev: 0.0012287914199756252 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 20, 'nodes': 128}
Means: 0.799962063630422, Stdev: 0.00858073308413093 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 20, 'nodes': 256}
Means: 0.8045126994450887, Stdev: 0.0038672929065860233 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 30, 'nodes': 64}
Means: 0.8010997374852499, Stdev: 0.0074069046879062855 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 30, 'nodes': 128}
Means: 0.8031854430834452, Stdev: 0.004180031990085181 with: {'activation': 'sigmoid', 'batch_size': 50, 'epochs': 30, 'nodes': 256}
Means: 0.797307550907135, Stdev: 0.0018770159194239002 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 10, 'nodes': 64}
Means: 0.7995828787485758, Stdev: 0.0026814948938591074 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 10, 'nodes': 128}
Means: 0.8007205327351888, Stdev: 0.0023833660590764157 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 10, 'nodes': 256}
Means: 0.8016685644785563, Stdev: 0.001072609196703246 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 20, 'nodes': 64}
Means: 0.8060295780499777, Stdev: 0.0023222183647484073 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 20, 'nodes': 128}
Means: 0.8056503732999166, Stdev: 0.0017583557954511466 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 20, 'nodes': 256}
Means: 0.8012893398602804, Stdev: 0.00650776340275201 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 30, 'nodes': 64}
Means: 0.8039438525835673, Stdev: 0.004057816561184761 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 30, 'nodes': 128}
Means: 0.7978763779004415, Stdev: 0.005115922602495512 with: {'activation': 'sigmoid', 'batch_size': 100, 'epochs': 30, 'nodes': 256}
Means: 0.777208944161733, Stdev: 0.008742617950965627 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 10, 'nodes': 64}
Means: 0.7882062792778015, Stdev: 0.00026813825022630784 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 10, 'nodes': 128}
Means: 0.7935153643290201, Stdev: 0.00502377097478929 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 10, 'nodes': 256}
Means: 0.7978763580322266, Stdev: 0.006271469021978843 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 20, 'nodes': 64}
Means: 0.8033750454584757, Stdev: 0.0014929861057952356 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 20, 'nodes': 128}
Means: 0.8024269938468933, Stdev: 0.005094795341693892 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 20, 'nodes': 256}
Means: 0.8035646677017212, Stdev: 0.00026813825022630784 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 30, 'nodes': 64}
Means: 0.8014789422353109, Stdev: 0.0020244719673599455 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 30, 'nodes': 128}
Means: 0.8014789621035258, Stdev: 0.004180031990085181 with: {'activation': 'sigmoid', 'batch_size': 300, 'epochs': 30, 'nodes': 256}

### 문항 7) 최적의 결과를 낸 파라미터와 결과값을 입력하시오.

- batch_size
- epochs
- nodes
- activation

- 정답은 `[100, 100, 100], activation_name` 형태로 입력하시오.

'activation': 'sigmoid', 'batch_size': 100, 'epochs': 30, 'nodes': 128 가 최적으로 나왔다. 정확도는 약 0.80 

이젠 Keras Tuner 를 사용한 파라미터 튜닝도 해보겠음!

## Keras Tuner 사용

In [ ]:
# 모델 만들기

def model_builder(hp):

  model = Sequential()

  # Dense layer에서 노드 수를 조정(32-512)
  hp_units = hp.Int('units', min_value = 32, max_value = 512, step = 32)

  model.add(Dense(units = hp_units, activation='relu'))
  model.add(Dense(units = hp_units, activation='relu'))

  model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

  # Optimizer의 학습률(learning rate)을 조정[0.01, 0.001, 0.0001]합니다. 
  hp_learning_rate = hp.Choice('learning_rate', values = [1e-2, 1e-3, 1e-4])

  # 컴파일 단계, 옵티마이저와 손실함수, 측정지표를 연결해서 계산 그래프를 구성함
  model.compile(optimizer=keras.optimizers.Adam(learning_rate = hp_learning_rate), 
                loss=keras.losses.BinaryCrossentropy(from_logits = True), 
                metrics=['accuracy'])

  return model

In [ ]:
# 튜너를 인스턴스화하고 하이퍼 튜닝을 수행

tuner = kt.Hyperband(model_builder,
                     objective = 'val_accuracy', 
                     max_epochs = 30, 
                     factor = 3,
                     directory = 'my_dir',
                     project_name = 'intro_to_kt')

In [ ]:
# callback 정의 : 하이퍼 파라미터 검색을 실행하기 전에 모든 교육 단계가 끝날 때마다 교육 출력을 지우도록 콜백을 정의합니다.

class ClearTrainingOutput(tf.keras.callbacks.Callback):
  def on_train_end(*args, **kwargs):
    IPython.display.clear_output(wait = True)

In [ ]:
tuner.search(X_train_scaled, y_train, epochs = 30, batch_size=50, validation_data = (X_test_scaled,y_test), callbacks = [ClearTrainingOutput()])

# Get the optimal hyperparameters
best_hps = tuner.get_best_hyperparameters(num_trials = 1)[0]

print(f"""
최적화된 Dense 노드 수 : {best_hps.get('units')} 
최적화된 Learning Rate : {best_hps.get('learning_rate')} 
""")

Trial 62 Complete [00h 00m 01s]
val_accuracy: 0.8003413081169128

Best val_accuracy So Far: 0.8043230772018433
Total elapsed time: 00h 01m 45s
INFO:tensorflow:Oracle triggered exit

최적화된 Dense 노드 수 : 416
최적화된 Learning Rate : 0.001

### 문항 8) Keras 튜너를 활용하여 얻어낸 파라미터를 입력하시오. 

- 정답은 `[100, 100]` 형태로 입력하시오.

In [ ]:
# 찾은 파라미터들로 모델 만들어보기 (Dense 노드 수 : 416, Learning Rate : 0.01, batch_size : 100, epochs : 30)
from tensorflow.keras import regularizers

tf.random.set_seed(1442)
initializer = tf.keras.initializers.HeNormal()

model = Sequential()

model.add(Dense(best_hps.get('units'), 
                activation='relu', kernel_initializer=initializer,          
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01))) # L1 norm regularization))
model.add(Dense(best_hps.get('units'),
                activation='relu', kernel_initializer=initializer,            
                kernel_regularizer=regularizers.l2(0.01),    # L2 norm regularization
                activity_regularizer=regularizers.l1(0.01)))
model.add(Dense(1, activation='sigmoid')) # 이진분류니까 노드수 1, 활성함수로는 시그모이드

model.compile(optimizer=keras.optimizers.Adam(learning_rate = best_hps.get('learning_rate')), 
              loss='binary_crossentropy', 
              metrics=['accuracy'])

results = model.fit(X_train_scaled, y_train, epochs=2, batch_size=50, validation_data=(X_test_scaled,y_test))

Epoch 1/2
106/106 [==============================] - 1s 6ms/step - loss: 17.0338 - accuracy: 0.7604 - val_loss: 8.7592 - val_accuracy: 0.7952
Epoch 2/2
106/106 [==============================] - 0s 4ms/step - loss: 7.4378 - accuracy: 0.8020 - val_loss: 4.6283 - val_accuracy: 0.7901

In [ ]:
# 테스트셋 사용해서 결과 보기
model.evaluate(X_test_scaled,  y_test, verbose=2)

55/55 - 0s - loss: 4.6283 - accuracy: 0.7901

[4.62831974029541, 0.7901023626327515]